Repository mlpack/mlpack, pull requests merged in 2019-12, with the labels that each got.

#2101 Fix pkgconfig regular expression
  CMakeLists.txt
Labels: c: build system, t: bugfix

#2063 CI Cleanup
  .ci/linux-steps.yaml
  .travis.yml
  .travis/config.hpp
  README.md
Labels: c: build system, c: testing, s: needs review

#2082 Add padding layer in TransposedConvolutionLayer
  HISTORY.md
  src/mlpack/methods/ann/layer/convolution.hpp
  src/mlpack/methods/ann/layer/convolution_impl.hpp
  src/mlpack/methods/ann/layer/transposed_convolution.hpp
  src/mlpack/methods/ann/layer/transposed_convolution_impl.hpp
Labels: c: methods, t: added feature

#2104 Fix STB search path and allow disabling downloads
  CMake/FindStbImage.cmake
  CMakeLists.txt
  HISTORY.md
  README.md
  doc/guide/build.hpp
Labels: c: build system, c: documentation, t: added feature, t: bugfix

#2107 Force Boost_NO_BOOST_CMAKE to be on
  CMakeLists.txt
Labels: c: build system, s: needs review, t: bugfix

#1985 Add getter methods to layers
  HISTORY.md
  src/mlpack/core/util/version.hpp
  src/mlpack/methods/ann/ffn.hpp
  src/mlpack/methods/ann/layer/atrous_convolution.hpp
  src/mlpack/methods/ann/layer/atrous_convolution_impl.hpp
  src/mlpack/methods/ann/layer/convolution.hpp
  src/mlpack/methods/ann/layer/convolution_impl.hpp
  src/mlpack/methods/ann/layer/linear.hpp
  src/mlpack/methods/ann/layer/max_pooling.hpp
  src/mlpack/methods/ann/layer/max_pooling_impl.hpp
  src/mlpack/methods/ann/layer/mean_pooling.hpp
  src/mlpack/methods/ann/layer/mean_pooling_impl.hpp
  src/mlpack/methods/ann/layer/multiply_constant.hpp
  src/mlpack/methods/ann/layer/padding.hpp
  src/mlpack/methods/ann/layer/transposed_convolution.hpp
  src/mlpack/methods/ann/layer/transposed_convolution_impl.hpp
  src/mlpack/tests/ann_layer_test.cpp
Labels: c: methods, s: needs review, t: added feature

#2110 Remove "smart" handling of `BUILD_JULIA_BINDINGS`
  CMakeLists.txt
  HISTORY.md
  src/mlpack/bindings/julia/CMakeLists.txt
Labels: c: automatic bindings, c: build system, t: bugfix

#2072 Extend callbacks to RBM Networks
  COPYRIGHT.txt
  src/mlpack/methods/ann/rbm/rbm.hpp
  src/mlpack/methods/ann/rbm/rbm_impl.hpp
  src/mlpack/tests/callback_test.cpp
Labels: c: methods, t: added feature

#2102 Fixing failure due to too-large rho values
  HISTORY.md
  src/mlpack/methods/ann/rnn_impl.hpp
  src/mlpack/tests/recurrent_network_test.cpp
Labels: c: methods, s: needs review, t: bugfix

#2121 Add mutator and accessor functions for some layers
  src/mlpack/methods/ann/layer/atrous_convolution.hpp
  src/mlpack/methods/ann/layer/convolution.hpp
  src/mlpack/methods/ann/layer/linear_no_bias.hpp
  src/mlpack/tests/ann_layer_test.cpp
Labels: c: methods, s: needs review, t: added feature

#2125 Update the tutorial for building mlpack from source on Windows
  COPYRIGHT.txt
  doc/guide/build_windows.hpp
Labels: c: build system, c: documentation, s: needs review, t: added feature

#2130 Update README.md
  COPYRIGHT.txt
  README.md
Labels: c: documentation, s: needs review, t: added feature

#2120 Adds Layer Names in ANN
  src/mlpack/methods/ann/layer_names.hpp
  src/mlpack/tests/layer_names_test.cpp
Labels: c: methods, s: needs review, t: added feature
