Repository mlpack/mlpack, pull requests merged in 2019-03, with the labels that each got.

#1739 Removed ensmallen docs
  doc/tutorials/cne/cne.txt
  doc/tutorials/optimizer/optimizer.txt
  doc/tutorials/tutorials.txt
Labels: c: documentation, s: needs review

#1736 Improve Installation Documentation on Windows
  COPYRIGHT.txt
  doc/guide/build_windows.hpp
  src/mlpack/core.hpp
Labels: c: build system, c: documentation, s: needs review

#1731 rectified ann.txt (mlpack/doc)
  doc/tutorials/ann/ann.txt
Labels: c: documentation, t: added feature

#1746 Documentation: updated the sample code in softmax_regression.hpp.
  src/mlpack/methods/softmax_regression/softmax_regression.hpp
Labels: c: documentation, s: needs review, t: bugfix

#1752 Created default value for ConstInitialization constructor
  src/mlpack/methods/ann/init_rules/const_init.hpp
Labels: c: methods, s: needs review, t: added feature

#1753 Synchronize parameter's name with @param in `dists` and `gmm` directory.
  src/mlpack/core/dists/discrete_distribution.cpp
  src/mlpack/core/dists/discrete_distribution.hpp
  src/mlpack/core/dists/gamma_distribution.cpp
  src/mlpack/core/dists/gamma_distribution.hpp
  src/mlpack/core/dists/gaussian_distribution.hpp
  src/mlpack/core/dists/laplace_distribution.hpp
  src/mlpack/core/dists/regression_distribution.cpp
  src/mlpack/core/dists/regression_distribution.hpp
  src/mlpack/methods/gmm/em_fit.hpp
  src/mlpack/methods/gmm/gmm.hpp
Labels: c: core, c: documentation, s: needs review, s: unanswered, t: bugfix

#1702 [WIP] Binding tests for Local Coordinate Coding
  src/mlpack/core.hpp
  src/mlpack/methods/local_coordinate_coding/local_coordinate_coding_main.cpp
  src/mlpack/tests/CMakeLists.txt
  src/mlpack/tests/main_tests/linear_regression_test.cpp
  src/mlpack/tests/main_tests/local_coordinate_coding_test.cpp
Labels: c: testing, s: needs review, t: added feature

#1775 Remove Inline Implimentation
  src/mlpack/core/dists/discrete_distribution.hpp
  src/mlpack/core/dists/gaussian_distribution.hpp
Labels: c: core, s: needs review, t: added feature

#1788 Minor Optimizations
  src/mlpack/methods/ann/activation_functions/logistic_function.hpp
  src/mlpack/methods/ann/activation_functions/rectifier_function.hpp
  src/mlpack/methods/ann/activation_functions/softplus_function.hpp
  src/mlpack/methods/ann/activation_functions/softsign_function.hpp
  src/mlpack/methods/ann/activation_functions/swish_function.hpp
  src/mlpack/methods/ann/layer/leaky_relu.hpp
  src/mlpack/methods/ann/layer/parametric_relu.hpp
Labels: c: documentation, c: methods

#1777 Make `GradientTransposedConvolutionLayerTest` robust.
  src/mlpack/tests/ann_layer_test.cpp
Labels: c: testing, s: needs review

#1793 Added additional check to LoadARFF.
  src/mlpack/core/data/load_arff_impl.hpp
  src/mlpack/tests/load_save_test.cpp
Labels: c: core, t: added feature

#1776 Add hard sigmoid
  src/mlpack/methods/ann/activation_functions/hard_sigmoid_function.hpp
  src/mlpack/methods/ann/layer/base_layer.hpp
  src/mlpack/tests/activation_functions_test.cpp
Labels: c: methods, s: needs review, t: added feature

#1808 Fix documentation bits that point to old pages.
  .github/ISSUE_TEMPLATE/2-question.md
  README.md
  doc/guide/build.hpp
  doc/guide/build_windows.hpp
  doc/guide/cli_quickstart.hpp
  doc/guide/python_quickstart.hpp
  doc/tutorials/README.md
  src/mlpack/bindings/markdown/print_docs.cpp
Labels: c: documentation, s: needs review, t: bugfix

#1756 Added quoted_strings to regex in LoadCSV (#1754) .
  src/mlpack/core/data/load_csv.cpp
  src/mlpack/tests/load_save_test.cpp
Labels: c: core, s: needs review, t: bugfix

#1820 Rectified imports in Python documentation
  src/mlpack/bindings/markdown/print_doc_functions_impl.hpp
Labels: c: automatic bindings, c: documentation, s: needs review, t: bugfix

#1792 Increase Code Readability
  src/mlpack/core/cv/metrics/f1_impl.hpp
  src/mlpack/core/cv/metrics/recall_impl.hpp
Labels: c: documentation, t: bugfix

#1789 Documentation fixups
  src/mlpack/core/data/imputer.hpp
  src/mlpack/core/data/map_policies/increment_policy.hpp
  src/mlpack/methods/linear_regression/linear_regression.hpp
  src/mlpack/tests/imputation_test.cpp
Labels: c: documentation, t: bugfix
