Repository mlpack/mlpack, pull requests merged in 2019-02, with the labels that each got.

#1698 MinGW build fixes
  CMakeLists.txt
  src/mlpack/core/data/load_arff_impl.hpp
  src/mlpack/methods/neighbor_search/kfn_main.cpp
  src/mlpack/methods/neighbor_search/sort_policies/furthest_neighbor_sort.hpp
  src/mlpack/methods/neighbor_search/sort_policies/furthest_neighbor_sort_impl.hpp
  src/mlpack/methods/neighbor_search/sort_policies/nearest_neighbor_sort.hpp
  src/mlpack/methods/neighbor_search/sort_policies/nearest_neighbor_sort_impl.hpp
  src/mlpack/tests/ann_layer_test.cpp
  src/mlpack/tests/distribution_test.cpp
  src/mlpack/tests/linear_regression_test.cpp
  src/mlpack/tests/serialization_test.cpp
  src/mlpack/tests/ub_tree_test.cpp
Labels: c: build system, c: testing, s: needs review

#1705 Allow multiple trials of MountainCarWithDQN test.
  src/mlpack/tests/q_learning_test.cpp
Labels: c: testing, s: needs review, t: bugfix

#1700 Handling pandas.core.series.Series in matrix_utils.py
  src/mlpack/bindings/python/mlpack/matrix_utils.py
Labels: c: automatic bindings, s: needs review, t: bugfix

#1616 Option consistency in logistic regression #1565
  src/mlpack/methods/logistic_regression/logistic_regression_main.cpp
  src/mlpack/tests/main_tests/logistic_regression_test.cpp
Labels: c: binding, s: needs review, t: bugfix

#1674 Dice loss class implementation
  src/mlpack/methods/ann/loss_functions/dice_loss.hpp
  src/mlpack/methods/ann/loss_functions/dice_loss_impl.hpp
  src/mlpack/tests/loss_functions_test.cpp
Labels: c: methods, t: added feature

#1713 Edited to comply with the Style Checks
  src/mlpack/bindings/markdown/print_doc_functions_impl.hpp
  src/mlpack/bindings/markdown/print_docs.cpp
  src/mlpack/core/cv/meta_info_extractor.hpp
  src/mlpack/core/kernels/cauchy_kernel.hpp
  src/mlpack/core/util/mlpack_main.hpp
  src/mlpack/core/util/param.hpp
  src/mlpack/methods/ann/dists/bernoulli_distribution_impl.hpp
  src/mlpack/methods/ann/rbm/spike_slab_rbm_impl.hpp
  src/mlpack/methods/bias_svd/bias_svd_function_impl.hpp
  src/mlpack/methods/gmm/gmm.cpp
  src/mlpack/methods/hmm/hmm_impl.hpp
  src/mlpack/methods/kde/kde_model_impl.hpp
  src/mlpack/methods/lmnn/lmnn_function_impl.hpp
  src/mlpack/methods/logistic_regression/logistic_regression_main.cpp
  src/mlpack/methods/range_search/rs_model_impl.hpp
  src/mlpack/methods/reinforcement_learning/environment/reward_clipping.hpp
  src/mlpack/methods/svdplusplus/svdplusplus_function_impl.hpp
  src/mlpack/tests/activation_functions_test.cpp
  src/mlpack/tests/async_learning_test.cpp
  src/mlpack/tests/bias_svd_test.cpp
  src/mlpack/tests/hpt_test.cpp
  src/mlpack/tests/kde_test.cpp
  src/mlpack/tests/main_tests/kernel_pca_test.cpp
  src/mlpack/tests/main_tests/logistic_regression_test.cpp
  src/mlpack/tests/main_tests/range_search_test.cpp
  src/mlpack/tests/reward_clipping_test.cpp
  src/mlpack/tests/svdplusplus_test.cpp
Labels: c: automatic bindings, c: core, c: methods, c: testing, s: needs review, t: bugfix

#1714 Minor Dice Loss adjustments
  src/mlpack/methods/ann/loss_functions/CMakeLists.txt
  src/mlpack/methods/ann/loss_functions/dice_loss.hpp
Labels: c: build system, c: methods, s: needs review, s: unanswered

#1707 Refactor HMM tests to reduce errors
  src/mlpack/tests/hmm_test.cpp
Labels: c: testing, s: needs review, s: unanswered, t: bugfix

#1721 Added .pyc in .gitignore
  .gitignore
Labels: c: build system, s: answered, t: added feature

#1711 FIX copying Pandas DataFrames for Python bindings
  src/mlpack/bindings/python/mlpack/matrix_utils.py
  src/mlpack/bindings/python/tests/test_python_binding.py
Labels: c: automatic bindings, s: needs review, t: added feature

#1720 Remove saving parameters in Evaluate
  src/mlpack/methods/ann/rnn_impl.hpp
Labels: c: methods, t: bugfix

#1679 Add LogProbability for Discrete multi-input case.
  src/mlpack/core/dists/discrete_distribution.cpp
  src/mlpack/core/dists/discrete_distribution.hpp
  src/mlpack/core/dists/gaussian_distribution.hpp
  src/mlpack/tests/distribution_test.cpp
Labels: c: core, s: needs review, t: added feature

#1728 Doc fixes
  COPYRIGHT.txt
  README.md
  doc/guide/build.hpp
  src/mlpack/core.hpp
Labels: c: methods, s: needs review, t: added feature

#1738 Resolve gcc parameter reorder warning for clean build.
  src/mlpack/methods/adaboost/adaboost_impl.hpp
  src/mlpack/methods/ann/rbm/rbm_impl.hpp
Labels: c: core, c: methods, t: bugfix

#1726 Extend1679
  src/mlpack/core/dists/gamma_distribution.cpp
  src/mlpack/core/dists/gamma_distribution.hpp
  src/mlpack/tests/distribution_test.cpp
Labels: c: core, s: needs review, t: added feature

#1742 Fix test failure in bidirectional rnn
  src/mlpack/methods/ann/brnn_impl.hpp
Labels: c: methods, s: fixed, t: bugfix
