Repository mlpack/mlpack, pull requests merged in 2019-08, with the labels that each got.

#1953 AtrousConvolutionLayer stablize test
  src/mlpack/tests/CMakeLists.txt
  src/mlpack/tests/ann_layer_test.cpp
Labels: c: methods, t: bugfix

#1964 Fix stray quotes during Python install.
  src/mlpack/bindings/python/PythonInstall.cmake
Labels: c: automatic bindings, c: build system, s: needs review, s: unanswered, t: bugfix

#1968 Optimized DoublePoleCart DQN test settings
  src/mlpack/tests/q_learning_test.cpp
Labels: c: testing, s: fixed

#1970 [Ready] gcc-9 build fixes
  src/mlpack/methods/det/dt_utils_impl.hpp
Labels: c: methods, s: needs review, t: bugfix

#1973 Resolve appVeyor issues
  src/mlpack/methods/linear_svm/linear_svm_function_impl.hpp
Labels: c: methods, t: bug report

#1932 Add Regularizers
  src/mlpack/methods/ann/CMakeLists.txt
  src/mlpack/methods/ann/layer/layer_types.hpp
  src/mlpack/methods/ann/layer/linear.hpp
  src/mlpack/methods/ann/layer/linear_impl.hpp
  src/mlpack/methods/ann/layer/linear_no_bias.hpp
  src/mlpack/methods/ann/layer/linear_no_bias_impl.hpp
  src/mlpack/methods/ann/regularizer/CMakeLists.txt
  src/mlpack/methods/ann/regularizer/lregularizer.hpp
  src/mlpack/methods/ann/regularizer/lregularizer_impl.hpp
  src/mlpack/methods/ann/regularizer/no_regularizer.hpp
  src/mlpack/methods/ann/regularizer/orthogonal_regularizer.hpp
  src/mlpack/methods/ann/regularizer/orthogonal_regularizer_impl.hpp
  src/mlpack/methods/ann/regularizer/regularizer.hpp
  src/mlpack/tests/CMakeLists.txt
  src/mlpack/tests/ann_regularizer_test.cpp
  src/mlpack/tests/ann_test_tools.hpp
Labels: c: methods, t: added feature

#1975 Add STB image directory to include directories.
  CMakeLists.txt
  README.md
  doc/guide/build.hpp
Labels: c: build system, c: documentation, s: needs review, t: bugfix

#1956 Bias Visitor.
  src/mlpack/methods/ann/layer/atrous_convolution.hpp
  src/mlpack/methods/ann/layer/convolution.hpp
  src/mlpack/methods/ann/layer/layer_traits.hpp
  src/mlpack/methods/ann/layer/linear.hpp
  src/mlpack/methods/ann/layer/transposed_convolution.hpp
  src/mlpack/methods/ann/visitor/CMakeLists.txt
  src/mlpack/methods/ann/visitor/bias_set_visitor.hpp
  src/mlpack/methods/ann/visitor/bias_set_visitor_impl.hpp
  src/mlpack/tests/CMakeLists.txt
  src/mlpack/tests/ann_visitor_test.cpp
Labels: c: methods, t: added feature

#1976 Reduce style related warnings
  src/mlpack/core/data/load_image_impl.hpp
  src/mlpack/core/data/scaler_methods/max_abs_scaler.hpp
  src/mlpack/core/data/scaler_methods/mean_normalization.hpp
  src/mlpack/core/data/scaler_methods/min_max_scaler.hpp
  src/mlpack/core/data/scaler_methods/pca_whitening.hpp
  src/mlpack/core/data/scaler_methods/standard_scaler.hpp
  src/mlpack/core/data/scaler_methods/zca_whitening.hpp
  src/mlpack/methods/kde/kde_rules_impl.hpp
  src/mlpack/methods/preprocess/scaling_model.hpp
  src/mlpack/methods/preprocess/scaling_model_impl.hpp
  src/mlpack/tests/augmented_rnns_tasks_test.cpp
Labels: c: build system

#1978 Work Around to add more layers.
  src/mlpack/methods/ann/layer/layer_types.hpp
  src/mlpack/methods/ann/visitor/add_visitor.hpp
  src/mlpack/methods/ann/visitor/add_visitor_impl.hpp
  src/mlpack/methods/ann/visitor/backward_visitor.hpp
  src/mlpack/methods/ann/visitor/backward_visitor_impl.hpp
  src/mlpack/methods/ann/visitor/bias_set_visitor.hpp
  src/mlpack/methods/ann/visitor/bias_set_visitor_impl.hpp
  src/mlpack/methods/ann/visitor/copy_visitor.hpp
  src/mlpack/methods/ann/visitor/copy_visitor_impl.hpp
  src/mlpack/methods/ann/visitor/delete_visitor.hpp
  src/mlpack/methods/ann/visitor/delete_visitor_impl.hpp
  src/mlpack/methods/ann/visitor/delta_visitor.hpp
  src/mlpack/methods/ann/visitor/delta_visitor_impl.hpp
  src/mlpack/methods/ann/visitor/deterministic_set_visitor.hpp
  src/mlpack/methods/ann/visitor/deterministic_set_visitor_impl.hpp
  src/mlpack/methods/ann/visitor/forward_visitor.hpp
  src/mlpack/methods/ann/visitor/forward_visitor_impl.hpp
  src/mlpack/methods/ann/visitor/gradient_set_visitor.hpp
  src/mlpack/methods/ann/visitor/gradient_set_visitor_impl.hpp
  src/mlpack/methods/ann/visitor/gradient_update_visitor.hpp
  src/mlpack/methods/ann/visitor/gradient_update_visitor_impl.hpp
  src/mlpack/methods/ann/visitor/gradient_visitor.hpp
  src/mlpack/methods/ann/visitor/gradient_visitor_impl.hpp
  src/mlpack/methods/ann/visitor/gradient_zero_visitor.hpp
  src/mlpack/methods/ann/visitor/gradient_zero_visitor_impl.hpp
  src/mlpack/methods/ann/visitor/load_output_parameter_visitor.hpp
  src/mlpack/methods/ann/visitor/load_output_parameter_visitor_impl.hpp
  src/mlpack/methods/ann/visitor/loss_visitor.hpp
  src/mlpack/methods/ann/visitor/loss_visitor_impl.hpp
  src/mlpack/methods/ann/visitor/output_height_visitor.hpp
  src/mlpack/methods/ann/visitor/output_height_visitor_impl.hpp
  src/mlpack/methods/ann/visitor/output_parameter_visitor.hpp
  src/mlpack/methods/ann/visitor/output_parameter_visitor_impl.hpp
  src/mlpack/methods/ann/visitor/output_width_visitor.hpp
  src/mlpack/methods/ann/visitor/output_width_visitor_impl.hpp
  src/mlpack/methods/ann/visitor/parameters_set_visitor.hpp
  src/mlpack/methods/ann/visitor/parameters_set_visitor_impl.hpp
  src/mlpack/methods/ann/visitor/parameters_visitor.hpp
  src/mlpack/methods/ann/visitor/parameters_visitor_impl.hpp
  src/mlpack/methods/ann/visitor/reset_cell_visitor.hpp
  src/mlpack/methods/ann/visitor/reset_cell_visitor_impl.hpp
  src/mlpack/methods/ann/visitor/reset_visitor.hpp
  src/mlpack/methods/ann/visitor/reset_visitor_impl.hpp
  src/mlpack/methods/ann/visitor/reward_set_visitor.hpp
  src/mlpack/methods/ann/visitor/reward_set_visitor_impl.hpp
  src/mlpack/methods/ann/visitor/run_set_visitor.hpp
  src/mlpack/methods/ann/visitor/run_set_visitor_impl.hpp
  src/mlpack/methods/ann/visitor/save_output_parameter_visitor.hpp
  src/mlpack/methods/ann/visitor/save_output_parameter_visitor_impl.hpp
  src/mlpack/methods/ann/visitor/set_input_height_visitor.hpp
  src/mlpack/methods/ann/visitor/set_input_height_visitor_impl.hpp
  src/mlpack/methods/ann/visitor/set_input_width_visitor.hpp
  src/mlpack/methods/ann/visitor/set_input_width_visitor_impl.hpp
  src/mlpack/methods/ann/visitor/weight_set_visitor.hpp
  src/mlpack/methods/ann/visitor/weight_set_visitor_impl.hpp
  src/mlpack/methods/ann/visitor/weight_size_visitor.hpp
  src/mlpack/methods/ann/visitor/weight_size_visitor_impl.hpp
Labels: c: methods, t: added feature

#1977 Fix Markdown binding issue
  CMake/RunProgram.cmake
  src/mlpack/core/util/mlpack_main.hpp
  src/mlpack/core/util/param.hpp
  src/mlpack/methods/kde/kde_main.cpp
Labels: c: automatic bindings, c: build system, t: bugfix

#1952 Add padding layer
  src/mlpack/methods/ann/layer/atrous_convolution.hpp
  src/mlpack/methods/ann/layer/atrous_convolution_impl.hpp
  src/mlpack/methods/ann/layer/convolution.hpp
  src/mlpack/methods/ann/layer/convolution_impl.hpp
  src/mlpack/methods/ann/layer/layer.hpp
  src/mlpack/methods/ann/layer/layer_types.hpp
  src/mlpack/methods/ann/layer/padding.hpp
  src/mlpack/methods/ann/layer/padding_impl.hpp
  src/mlpack/methods/ann/layer/transposed_convolution.hpp
  src/mlpack/methods/ann/layer/transposed_convolution_impl.hpp
  src/mlpack/tests/ann_layer_test.cpp
Labels: c: methods, s: needs review, t: added feature

#1981 Updated contributor's list
  COPYRIGHT.txt
  src/mlpack/tests/main_tests/kfn_test.cpp
  src/mlpack/tests/main_tests/knn_test.cpp
Labels: c: documentation

#1979 Fix intermittently failing Epanechnikov kernel KDE test
  HISTORY.md
  src/mlpack/core/tree/cover_tree/cover_tree_impl.hpp
  src/mlpack/methods/kde/kde_rules_impl.hpp
Labels: c: core, c: methods, s: needs review, t: bugfix

#1920 Weight Normalization Layer.
  src/mlpack/methods/ann/layer/CMakeLists.txt
  src/mlpack/methods/ann/layer/layer.hpp
  src/mlpack/methods/ann/layer/layer_types.hpp
  src/mlpack/methods/ann/layer/weight_norm.hpp
  src/mlpack/methods/ann/layer/weight_norm_impl.hpp
  src/mlpack/methods/ann/visitor/bias_set_visitor.hpp
  src/mlpack/tests/ann_layer_test.cpp
Labels: c: methods, t: added feature

#1984 [GSoC] Reclaim unused KDE error tolerance
  HISTORY.md
  src/mlpack/methods/kde/kde_rules.hpp
  src/mlpack/methods/kde/kde_rules_impl.hpp
  src/mlpack/methods/kde/kde_stat.hpp
  src/mlpack/tests/kde_test.cpp
  src/mlpack/tests/main_tests/kde_test.cpp
Labels: c: methods, s: needs review, t: added feature

#1989 fix: avoid writing zero via sparse matrix iterator
  src/mlpack/methods/cf/normalization/z_score_normalization.hpp
Labels: c: methods, t: bug report, t: bugfix

#1992 more fixes to avoid writing zero via sparse matrix iterator
  src/mlpack/methods/cf/normalization/item_mean_normalization.hpp
  src/mlpack/methods/cf/normalization/overall_mean_normalization.hpp
  src/mlpack/methods/cf/normalization/user_mean_normalization.hpp
Labels: c: methods, t: bug report, t: bugfix
