Repository mlpack/mlpack, pull requests merged in 2019-04, with the labels that each got.

#1824 Code completion
  src/mlpack/tests/imputation_test.cpp
Labels: c: testing, s: fixed, t: added feature

#1831 Documentation fixup
  src/mlpack/core/tree/ballbound.hpp
  src/mlpack/core/tree/cellbound.hpp
  src/mlpack/core/tree/hollow_ball_bound.hpp
  src/mlpack/core/tree/hrectbound.hpp
Labels: c: documentation, s: needs review, t: added feature

#1828 Complete Documentation
  src/mlpack/methods/logistic_regression/logistic_regression_function.hpp
Labels: c: documentation, t: added feature

#1832 Improved documentation
  src/mlpack/methods/reinforcement_learning/q_learning_impl.hpp
Labels: c: documentation, t: added feature

#1800 Added cellState as output params in LSTM.
  src/mlpack/methods/ann/layer/lstm.hpp
  src/mlpack/methods/ann/layer/lstm_impl.hpp
  src/mlpack/tests/ann_layer_test.cpp
Labels: c: methods, s: needs review, t: added feature

#1666 Implement wrapper for diagonally-constrained GMM HMMs.
  CMakeLists.txt
  HISTORY.md
  src/mlpack/core.hpp
  src/mlpack/core/dists/CMakeLists.txt
  src/mlpack/core/dists/diagonal_gaussian_distribution.cpp
  src/mlpack/core/dists/diagonal_gaussian_distribution.hpp
  src/mlpack/methods/gmm/CMakeLists.txt
  src/mlpack/methods/gmm/diagonal_constraint.hpp
  src/mlpack/methods/gmm/diagonal_gmm.cpp
  src/mlpack/methods/gmm/diagonal_gmm.hpp
  src/mlpack/methods/gmm/diagonal_gmm_impl.hpp
  src/mlpack/methods/gmm/eigenvalue_ratio_constraint.hpp
  src/mlpack/methods/gmm/em_fit.hpp
  src/mlpack/methods/gmm/em_fit_impl.hpp
  src/mlpack/methods/gmm/positive_definite_constraint.hpp
  src/mlpack/methods/hmm/hmm_generate_main.cpp
  src/mlpack/methods/hmm/hmm_loglik_main.cpp
  src/mlpack/methods/hmm/hmm_model.hpp
  src/mlpack/methods/hmm/hmm_train_main.cpp
  src/mlpack/methods/hmm/hmm_util.hpp
  src/mlpack/methods/hmm/hmm_util_impl.hpp
  src/mlpack/methods/hmm/hmm_viterbi_main.cpp
  src/mlpack/tests/distribution_test.cpp
  src/mlpack/tests/gmm_test.cpp
  src/mlpack/tests/hmm_test.cpp
  src/mlpack/tests/main_tests/hmm_generate_test.cpp
  src/mlpack/tests/main_tests/hmm_test_utils.hpp
  src/mlpack/tests/main_tests/hmm_train_test.cpp
  src/mlpack/tests/main_tests/hmm_viterbi_test.cpp
Labels: c: binding, c: methods, s: needs review, t: added feature

#1851 Added contribution name
  COPYRIGHT.txt
Labels: c: documentation

#1816 Travis Python fixes
  .travis.yml
  src/mlpack/bindings/python/mlpack/matrix_utils.py
Labels: c: binding, c: testing, s: needs review, t: added feature, t: bugfix

#1864 Python fixes for Travis build
  src/mlpack/bindings/python/mlpack/matrix_utils.py
  src/mlpack/bindings/python/print_input_processing.hpp
  src/mlpack/bindings/python/tests/test_python_binding.py
Labels: c: automatic bindings, t: bugfix

#1865 Adding accessors for the network
  src/mlpack/methods/reinforcement_learning/q_learning.hpp
Labels: c: methods, t: added feature

#1860 Convert DiagonalGMMs into GMMs in `mlpack_gmm_train`.
  src/mlpack/methods/gmm/gmm_train_main.cpp
Labels: c: binding, s: needs review, t: added feature

#1724 Adapting testcases
  src/mlpack/methods/adaboost/adaboost.hpp
  src/mlpack/methods/adaboost/adaboost_impl.hpp
  src/mlpack/methods/ann/brnn.hpp
  src/mlpack/methods/ann/brnn_impl.hpp
  src/mlpack/tests/adaboost_test.cpp
  src/mlpack/tests/convolutional_network_test.cpp
  src/mlpack/tests/dcgan_test.cpp
  src/mlpack/tests/decision_stump_test.cpp
  src/mlpack/tests/decision_tree_test.cpp
  src/mlpack/tests/feedforward_network_test.cpp
  src/mlpack/tests/gan_test.cpp
  src/mlpack/tests/hmm_test.cpp
  src/mlpack/tests/lars_test.cpp
  src/mlpack/tests/linear_regression_test.cpp
  src/mlpack/tests/local_coordinate_coding_test.cpp
  src/mlpack/tests/logistic_regression_test.cpp
  src/mlpack/tests/random_forest_test.cpp
  src/mlpack/tests/rbm_network_test.cpp
  src/mlpack/tests/recurrent_network_test.cpp
  src/mlpack/tests/sparse_coding_test.cpp
  src/mlpack/tests/wgan_test.cpp
Labels: c: methods, c: testing, s: needs review, t: added feature

#1847 Rectified Predict() in rnn_impl (#1846).
  src/mlpack/methods/ann/rnn_impl.hpp
Labels: c: methods, s: needs review, t: bugfix

#1780 Implemented maps in normalize_labels_impl.hpp
  src/mlpack/core/data/normalize_labels_impl.hpp
Labels: c: core, s: needs review, t: added feature

#1841 Added decay rate hyperparameter to greedy policy.
  src/mlpack/methods/reinforcement_learning/policy/greedy_policy.hpp
  src/mlpack/tests/q_learning_test.cpp
  src/mlpack/tests/reward_clipping_test.cpp
  src/mlpack/tests/rl_components_test.cpp
Labels: c: methods, s: needs review, t: added feature

#1886 Added accessors for state and environment
  src/mlpack/methods/reinforcement_learning/q_learning.hpp
Labels: c: methods, s: needs review, s: unanswered, t: added feature
