Repository mlpack/mlpack, pull requests merged in 2019-10, with the labels that each got.

#2044 Update documentation to point to correct pip and conda packages
  HISTORY.md
  README.md
  doc/guide/python_quickstart.hpp
Labels: c: automatic bindings, c: documentation, t: bugfix

#2040 added api to access cov specs of gmm
  src/mlpack/core/dists/gaussian_distribution.hpp
Labels: c: core, t: added feature

#1935 Add CLI and python bindngs for linear_svm
  HISTORY.md
  src/mlpack/methods/linear_svm/CMakeLists.txt
  src/mlpack/methods/linear_svm/linear_svm.hpp
  src/mlpack/methods/linear_svm/linear_svm_function_impl.hpp
  src/mlpack/methods/linear_svm/linear_svm_impl.hpp
  src/mlpack/methods/linear_svm/linear_svm_main.cpp
  src/mlpack/tests/CMakeLists.txt
  src/mlpack/tests/main_tests/linear_svm_test.cpp
Labels: c: binding, c: methods, s: keep open, t: added feature

#1987 Create the header to determine the layer type
  src/mlpack/methods/ann/CMakeLists.txt
  src/mlpack/methods/ann/layer_names.hpp
  src/mlpack/tests/CMakeLists.txt
  src/mlpack/tests/layer_names_test.cpp
Labels: c: methods, t: added feature

#1493 Improve TransposedConvolution layer.
  src/mlpack/methods/ann/layer/layer_types.hpp
  src/mlpack/methods/ann/layer/transposed_convolution.hpp
  src/mlpack/methods/ann/layer/transposed_convolution_impl.hpp
  src/mlpack/tests/ann_layer_test.cpp
  src/mlpack/tests/dcgan_test.cpp
  src/mlpack/tests/wgan_test.cpp
Labels: c: methods, s: keep open, t: added feature

#2052 Serialize padding layer in convolution layer and atrous convolution layer.
  src/mlpack/methods/ann/layer/atrous_convolution.hpp
  src/mlpack/methods/ann/layer/atrous_convolution_impl.hpp
  src/mlpack/methods/ann/layer/convolution.hpp
  src/mlpack/methods/ann/layer/convolution_impl.hpp
Labels: c: methods, s: needs review, t: added feature

#2038 Exposed the ensmallen callbacks to the Train methods of FFN and RNN
  src/mlpack/methods/ann/ffn.hpp
  src/mlpack/methods/ann/ffn_impl.hpp
  src/mlpack/methods/ann/rnn.hpp
  src/mlpack/methods/ann/rnn_impl.hpp
  src/mlpack/tests/CMakeLists.txt
  src/mlpack/tests/callback_test.cpp
Labels: c: methods, s: needs review, t: added feature

#2054 Update Readme
  README.md
Labels: c: documentation, s: needs review

#2036 Move/Copy Assignment operators for CoverTree and SpillTree
  src/mlpack/core/tree/cover_tree/cover_tree.hpp
  src/mlpack/core/tree/cover_tree/cover_tree_impl.hpp
  src/mlpack/core/tree/spill_tree/spill_tree.hpp
  src/mlpack/core/tree/spill_tree/spill_tree_impl.hpp
  src/mlpack/tests/knn_test.cpp
Labels: c: core, t: added feature

#2057 Exposing ensmallen callback function for Logistic Regression
  COPYRIGHT.txt
  src/mlpack/methods/logistic_regression/logistic_regression.hpp
  src/mlpack/methods/logistic_regression/logistic_regression_impl.hpp
  src/mlpack/tests/callback_test.cpp
Labels: c: methods, t: added feature

#2066 Fix random failures for RecommendationAccuracyBiasSVDTest`
  src/mlpack/tests/cf_test.cpp
Labels: c: testing, t: bugfix

#2059 extending callbacks to gan
  src/mlpack/methods/ann/gan/gan.hpp
  src/mlpack/methods/ann/gan/gan_impl.hpp
  src/mlpack/tests/gan_test.cpp
Labels: c: methods, s: needs review, t: added feature
