Repository mlpack/mlpack, pull requests merged in 2019-01, with the labels that each got.

#1667 MSVC C3546 workaround
  src/mlpack/core/cv/meta_info_extractor.hpp
Labels: c: core, t: bugfix

#1669 Update contribution policy.
  CONTRIBUTING.md
Labels: c: documentation

#1663 Fix NMF saving and loading of matrices.
  src/mlpack/core/util/mlpack_main.hpp
  src/mlpack/methods/nmf/nmf_main.cpp
  src/mlpack/tests/main_tests/nmf_test.cpp
Labels: c: methods, t: bugfix

#1657 Various test fixes
  .travis.yml
  src/mlpack/methods/nystroem_method/nystroem_method_impl.hpp
  src/mlpack/tests/gmm_test.cpp
  src/mlpack/tests/random_forest_test.cpp
Labels: c: testing, t: bugfix

#1642 Fix/Change Windows installer
  .appveyor.yml
  dist/win-installer/res/dialog_white.jpg
Labels: c: build system, t: added feature

#1691 Add issue templates
  .github/ISSUE_TEMPLATE/0-bug.md
  .github/ISSUE_TEMPLATE/1-documentation.md
  .github/ISSUE_TEMPLATE/2-question.md
Labels: c: documentation, t: added feature
