Repository mlpack/mlpack, pull requests merged in 2020-02, with the labels that each got.

#2168 Quick-Fix OSX-python27 Bind error.
  .ci/macos-steps.yaml
Labels: c: build system, s: needs review, t: bugfix

#2189 Remove execution rights from header files
  src/mlpack/core/boost_backport/collections_load_imp.hpp
  src/mlpack/core/boost_backport/collections_save_imp.hpp
  src/mlpack/core/boost_backport/vector.hpp
  src/mlpack/methods/ann/layer/transposed_convolution.hpp
  src/mlpack/methods/ann/layer/transposed_convolution_impl.hpp
  src/mlpack/methods/reinforcement_learning/environment/double_pole_cart.hpp
  src/mlpack/tests/ann_layer_test.cpp
  src/mlpack/tests/data/test_data_3_1000.csv
Labels: c: methods

#2183 Adding gelu activation function
  HISTORY.md
  src/mlpack/methods/ann/activation_functions/CMakeLists.txt
  src/mlpack/methods/ann/activation_functions/gelu_function.hpp
  src/mlpack/methods/ann/layer/base_layer.hpp
  src/mlpack/tests/activation_functions_test.cpp
Labels: c: methods, s: needs review, t: added feature

#2182 Add Lisht Activation Function in reference to issue #2181.
  HISTORY.md
  src/mlpack/methods/ann/activation_functions/CMakeLists.txt
  src/mlpack/methods/ann/activation_functions/lisht_function.hpp
  src/mlpack/methods/ann/layer/base_layer.hpp
  src/mlpack/tests/activation_functions_test.cpp
Labels: c: methods, s: needs review, t: added feature

#2163 Adding 'Valid' and 'Same' padding option in Transposed Convolution layer. #2114 #2126
  HISTORY.md
  src/mlpack/methods/ann/layer/atrous_convolution.hpp
  src/mlpack/methods/ann/layer/atrous_convolution_impl.hpp
  src/mlpack/methods/ann/layer/convolution.hpp
  src/mlpack/methods/ann/layer/convolution_impl.hpp
  src/mlpack/methods/ann/layer/transposed_convolution.hpp
  src/mlpack/methods/ann/layer/transposed_convolution_impl.hpp
  src/mlpack/tests/ann_layer_test.cpp
Labels: c: methods, s: needs review, t: added feature

#2075 Callbacks for Softmax
  COPYRIGHT.txt
  src/mlpack/methods/softmax_regression/softmax_regression.hpp
  src/mlpack/methods/softmax_regression/softmax_regression_function.hpp
  src/mlpack/methods/softmax_regression/softmax_regression_impl.hpp
  src/mlpack/methods/softmax_regression/softmax_regression_main.cpp
  src/mlpack/tests/callback_test.cpp
  src/mlpack/tests/serialization_test.cpp
  src/mlpack/tests/softmax_regression_test.cpp
Labels: c: methods, s: needs review, t: added feature

#2151 AMF: allow user merging two initialization rules for W and H matrices
  HISTORY.md
  doc/guide/sample_ml_app.hpp
  src/mlpack/methods/amf/init_rules/average_init.hpp
  src/mlpack/methods/amf/init_rules/given_init.hpp
  src/mlpack/methods/amf/init_rules/merge_init.hpp
  src/mlpack/methods/amf/init_rules/random_init.hpp
  src/mlpack/methods/nmf/nmf_main.cpp
  src/mlpack/tests/main_tests/nmf_test.cpp
Labels: c: methods, s: needs review, t: added feature

#2219 Quick Fix Julia Build Failure
  .ci/macos-steps.yaml
Labels: c: build system, s: needs review

#2206 added mean bias loss function
  HISTORY.md
  src/mlpack/methods/ann/loss_functions/CMakeLists.txt
  src/mlpack/methods/ann/loss_functions/mean_bias_error.hpp
  src/mlpack/methods/ann/loss_functions/mean_bias_error_impl.hpp
  src/mlpack/tests/loss_functions_test.cpp
Labels: c: methods, s: needs review, t: added feature

#2235 Clarify availability of libensmallen-dev and libstb-dev.
  doc/guide/build.hpp
Labels: c: documentation, t: bugfix

#2236 Update doc about installation on different versions of ubuntu and debian
  COPYRIGHT.txt
  doc/guide/build.hpp
Labels: c: documentation, t: bugfix
