Repository mlpack/mlpack, pull requests merged in 2020-04, with the labels that each got.

#2323 R2 score metric Implemented
  COPYRIGHT.txt
  HISTORY.md
  src/mlpack/core/cv/metrics/CMakeLists.txt
  src/mlpack/core/cv/metrics/r2_score.hpp
  src/mlpack/core/cv/metrics/r2_score_impl.hpp
  src/mlpack/tests/cv_test.cpp
Labels: c: core

#2339 templating return type of loss functions
  HISTORY.md
  src/mlpack/methods/ann/loss_functions/cross_entropy_error.hpp
  src/mlpack/methods/ann/loss_functions/cross_entropy_error_impl.hpp
  src/mlpack/methods/ann/loss_functions/dice_loss.hpp
  src/mlpack/methods/ann/loss_functions/dice_loss_impl.hpp
  src/mlpack/methods/ann/loss_functions/earth_mover_distance.hpp
  src/mlpack/methods/ann/loss_functions/earth_mover_distance_impl.hpp
  src/mlpack/methods/ann/loss_functions/hinge_embedding_loss.hpp
  src/mlpack/methods/ann/loss_functions/hinge_embedding_loss_impl.hpp
  src/mlpack/methods/ann/loss_functions/huber_loss.hpp
  src/mlpack/methods/ann/loss_functions/huber_loss_impl.hpp
  src/mlpack/methods/ann/loss_functions/kl_divergence.hpp
  src/mlpack/methods/ann/loss_functions/kl_divergence_impl.hpp
  src/mlpack/methods/ann/loss_functions/log_cosh_loss.hpp
  src/mlpack/methods/ann/loss_functions/log_cosh_loss_impl.hpp
  src/mlpack/methods/ann/loss_functions/mean_bias_error.hpp
  src/mlpack/methods/ann/loss_functions/mean_bias_error_impl.hpp
  src/mlpack/methods/ann/loss_functions/mean_squared_error.hpp
  src/mlpack/methods/ann/loss_functions/mean_squared_error_impl.hpp
  src/mlpack/methods/ann/loss_functions/mean_squared_logarithmic_error.hpp
  src/mlpack/methods/ann/loss_functions/mean_squared_logarithmic_error_impl.hpp
  src/mlpack/methods/ann/loss_functions/negative_log_likelihood.hpp
  src/mlpack/methods/ann/loss_functions/negative_log_likelihood_impl.hpp
  src/mlpack/methods/ann/loss_functions/reconstruction_loss.hpp
  src/mlpack/methods/ann/loss_functions/reconstruction_loss_impl.hpp
  src/mlpack/methods/ann/loss_functions/sigmoid_cross_entropy_error.hpp
  src/mlpack/methods/ann/loss_functions/sigmoid_cross_entropy_error_impl.hpp
Labels: c: methods, t: added feature

#2342 added asynchronous learning tutorial
  doc/tutorials/reinforcement_learning/reinforcement_learning.txt
Labels: c: documentation

#2251 [Ready] TfIdf and Bag of Words fixes
  src/mlpack/core/data/string_encoding.hpp
  src/mlpack/core/data/string_encoding_impl.hpp
  src/mlpack/core/data/string_encoding_policies/CMakeLists.txt
  src/mlpack/core/data/string_encoding_policies/bag_of_words_encoding_policy.hpp
  src/mlpack/core/data/string_encoding_policies/dictionary_encoding_policy.hpp
  src/mlpack/core/data/string_encoding_policies/tf_idf_encoding_policy.hpp
  src/mlpack/tests/string_encoding_test.cpp
Labels: c: methods, t: added feature

#2264 Implemented margin ranking loss
  HISTORY.md
  src/mlpack/methods/ann/loss_functions/CMakeLists.txt
  src/mlpack/methods/ann/loss_functions/margin_ranking_loss.hpp
  src/mlpack/methods/ann/loss_functions/margin_ranking_loss_impl.hpp
  src/mlpack/tests/loss_functions_test.cpp
Labels: c: methods, t: added feature

#2209 Add Cosine Embeddings.
  HISTORY.md
  src/mlpack/methods/ann/loss_functions/CMakeLists.txt
  src/mlpack/methods/ann/loss_functions/cosine_embedding_loss.hpp
  src/mlpack/methods/ann/loss_functions/cosine_embedding_loss_impl.hpp
  src/mlpack/tests/loss_functions_test.cpp
Labels: c: methods, t: added feature

#2356 corrections to handle vector types in Armadillo 9.870
  src/mlpack/core/util/arma_traits.hpp
Labels: c: core, t: bugfix

#2353 inclusion of all currently implemented layers in layer.hpp
  src/mlpack/methods/ann/layer/layer.hpp
  src/mlpack/methods/ann/layer/layer_types.hpp
Labels: c: methods, t: bugfix

#2357 Workaround Debian buster STB include bug
  src/mlpack/core/data/load_image.cpp
  src/mlpack/core/data/save_image.cpp
Labels: c: core, s: needs review, t: bugfix

#2359 Fix LogisticRegression parameter size
  HISTORY.md
  src/mlpack/methods/logistic_regression/logistic_regression_impl.hpp
  src/mlpack/methods/softmax_regression/softmax_regression_impl.hpp
  src/mlpack/tests/logistic_regression_test.cpp
Labels: c: methods, t: bugfix

#2317 Addition of q_networks
  src/mlpack/methods/reinforcement_learning/q_networks/CMakeLists.txt
  src/mlpack/methods/reinforcement_learning/q_networks/simple_dqn.hpp
  src/mlpack/tests/q_learning_test.cpp
  src/mlpack/tests/reward_clipping_test.cpp
Labels: c: methods, t: added feature

#2274 Adding ELiSH Activation Function
  HISTORY.md
  src/mlpack/methods/ann/activation_functions/CMakeLists.txt
  src/mlpack/methods/ann/activation_functions/elish_function.hpp
  src/mlpack/methods/ann/layer/base_layer.hpp
  src/mlpack/tests/activation_functions_test.cpp
Labels: c: methods, t: added feature

#2273 refactor(ProgramDoc): changed ProgramDoc constructor to accept pass-by-value
  src/mlpack/core/util/program_doc.cpp
  src/mlpack/core/util/program_doc.hpp
Labels: c: automatic bindings, t: added feature

#2203 Adding L1 loss function
  HISTORY.md
  src/mlpack/methods/ann/loss_functions/CMakeLists.txt
  src/mlpack/methods/ann/loss_functions/l1_loss.hpp
  src/mlpack/methods/ann/loss_functions/l1_loss_impl.hpp
  src/mlpack/tests/loss_functions_test.cpp
Labels: c: methods, t: added feature

#2354 Removing terminal state for Pendulum-v0 env
  HISTORY.md
  src/mlpack/methods/reinforcement_learning/environment/pendulum.hpp
Labels: c: methods

#2367 Pass CXXFLAGS correctly to Python build
  HISTORY.md
  src/mlpack/CMakeLists.txt
Labels: c: automatic bindings, c: build system

#2365 Changes in parameter description for activation functions in ANN module
  src/mlpack/methods/ann/activation_functions/elish_function.hpp
  src/mlpack/methods/ann/activation_functions/hard_sigmoid_function.hpp
  src/mlpack/methods/ann/activation_functions/identity_function.hpp
  src/mlpack/methods/ann/activation_functions/lisht_function.hpp
  src/mlpack/methods/ann/activation_functions/logistic_function.hpp
  src/mlpack/methods/ann/activation_functions/mish_function.hpp
  src/mlpack/methods/ann/activation_functions/rectifier_function.hpp
  src/mlpack/methods/ann/activation_functions/softplus_function.hpp
  src/mlpack/methods/ann/activation_functions/softsign_function.hpp
  src/mlpack/methods/ann/activation_functions/swish_function.hpp
  src/mlpack/methods/ann/activation_functions/tanh_function.hpp
Labels: c: documentation

#1933 Probable error in generator update of GANs.
  src/mlpack/methods/ann/gan/gan_impl.hpp
  src/mlpack/methods/ann/gan/wgan_impl.hpp
  src/mlpack/methods/ann/gan/wgangp_impl.hpp
Labels: c: methods, s: keep open, s: needs review

#2369 Changes in the Pendulum-v0 implementation
  HISTORY.md
  src/mlpack/methods/reinforcement_learning/environment/pendulum.hpp
  src/mlpack/tests/rl_components_test.cpp
Labels: c: methods, t: bugfix

#2198 Exposing callbacks to sparseautoencoder
  HISTORY.md
  src/mlpack/methods/sparse_autoencoder/sparse_autoencoder.hpp
  src/mlpack/methods/sparse_autoencoder/sparse_autoencoder_impl.hpp
  src/mlpack/tests/callback_test.cpp
Labels: c: methods, t: added feature

#2373 Fix Julia documentation.
  HISTORY.md
  src/mlpack/bindings/julia/print_doc_functions_impl.hpp
  src/mlpack/bindings/python/print_doc_functions_impl.hpp
Labels: c: documentation, t: added feature

#2380 Remove Python 2.7 build from OS X.
  .ci/ci.yaml
Labels: c: build system, c: testing

#2379 Add Julia binding for linear SVM.
  src/mlpack/methods/linear_svm/CMakeLists.txt
Labels: c: automatic bindings, t: added feature

#2376 Add native Julia serialization for mlpack models
  CMake/julia/AppendSerialization.cmake
  CMake/julia/AppendType.cmake
  CMake/julia/ConfigureJuliaHCPP.cmake
  HISTORY.md
  src/mlpack/CMakeLists.txt
  src/mlpack/bindings/cli/CMakeLists.txt
  src/mlpack/bindings/cli/cli_option.hpp
  src/mlpack/bindings/cli/get_printable_param_impl.hpp
  src/mlpack/bindings/cli/in_place_copy.hpp
  src/mlpack/bindings/julia/CMakeLists.txt
  src/mlpack/bindings/julia/get_julia_type.hpp
  src/mlpack/bindings/julia/get_printable_type_impl.hpp
  src/mlpack/bindings/julia/julia_method.h.in
  src/mlpack/bindings/julia/julia_option.hpp
  src/mlpack/bindings/julia/mlpack/Project.toml.in
  src/mlpack/bindings/julia/mlpack/mlpack.jl.in
  src/mlpack/bindings/julia/print_doc.hpp
  src/mlpack/bindings/julia/print_input_param.hpp
  src/mlpack/bindings/julia/print_input_processing_impl.hpp
  src/mlpack/bindings/julia/print_jl.cpp
  src/mlpack/bindings/julia/print_model_type_import.hpp
  src/mlpack/bindings/julia/print_output_processing_impl.hpp
  src/mlpack/bindings/julia/print_param_defn.hpp
  src/mlpack/bindings/julia/print_type_doc_impl.hpp
  src/mlpack/bindings/julia/tests/runtests.jl
  src/mlpack/core/util/cli.cpp
  src/mlpack/core/util/cli.hpp
  src/mlpack/methods/kmeans/kmeans_main.cpp
  src/mlpack/methods/linear_regression/linear_regression_main.cpp
  src/mlpack/methods/linear_svm/linear_svm_main.cpp
  src/mlpack/methods/local_coordinate_coding/local_coordinate_coding_main.cpp
  src/mlpack/methods/logistic_regression/logistic_regression_main.cpp
  src/mlpack/methods/lsh/lsh_main.cpp
  src/mlpack/methods/mean_shift/mean_shift_main.cpp
  src/mlpack/methods/neighbor_search/kfn_main.cpp
  src/mlpack/methods/neighbor_search/knn_main.cpp
  src/mlpack/methods/perceptron/perceptron_main.cpp
  src/mlpack/methods/range_search/range_search_main.cpp
  src/mlpack/methods/rann/krann_main.cpp
  src/mlpack/methods/sparse_coding/sparse_coding_main.cpp
  src/mlpack/tests/cli_test.cpp
Labels: c: automatic bindings, t: added feature

#2374 Add Copy, Move Constructors and Copy, Move Operators for LARS class.
  HISTORY.md
  src/mlpack/methods/lars/lars.cpp
  src/mlpack/methods/lars/lars.hpp
  src/mlpack/tests/lars_test.cpp
Labels: c: methods, t: bugfix

#2377 Adding String lower case converter in util
  src/mlpack/core/util/CMakeLists.txt
  src/mlpack/core/util/to_lower.hpp
  src/mlpack/methods/ann/layer/atrous_convolution.hpp
  src/mlpack/methods/ann/layer/atrous_convolution_impl.hpp
  src/mlpack/methods/ann/layer/convolution.hpp
  src/mlpack/methods/ann/layer/convolution_impl.hpp
  src/mlpack/methods/ann/layer/transposed_convolution.hpp
  src/mlpack/methods/ann/layer/transposed_convolution_impl.hpp
Labels: c: core, t: added feature

#2390 Fix AdaBoost documentation example
  src/mlpack/methods/adaboost/adaboost_main.cpp
Labels: c: automatic bindings, c: documentation, t: bugfix
