Repository mlpack/mlpack, pull requests merged in 2020-08, with the labels that each got.

#2030 Feat/New method Bayesian ridge regression
  src/mlpack/methods/CMakeLists.txt
  src/mlpack/methods/bayesian_linear_regression/CMakeLists.txt
  src/mlpack/methods/bayesian_linear_regression/bayesian_linear_regression.cpp
  src/mlpack/methods/bayesian_linear_regression/bayesian_linear_regression.hpp
  src/mlpack/methods/bayesian_linear_regression/bayesian_linear_regression_impl.hpp
  src/mlpack/methods/bayesian_linear_regression/bayesian_linear_regression_main.cpp
  src/mlpack/tests/CMakeLists.txt
  src/mlpack/tests/bayesian_linear_regression_test.cpp
  src/mlpack/tests/main_tests/bayesian_linear_regression_test.cpp
  src/mlpack/tests/serialization_test.cpp
Labels: c: methods, s: keep open, t: added feature

#2551 migrate ann_* and related test from boost to catch2
  src/mlpack/tests/CMakeLists.txt
  src/mlpack/tests/ann_dist_test.cpp
  src/mlpack/tests/ann_layer_test.cpp
  src/mlpack/tests/ann_regularizer_test.cpp
  src/mlpack/tests/ann_visitor_test.cpp
  src/mlpack/tests/test_catch_tools.hpp
Labels: c: testing

#2545 Migrate decision_* and related test from boost to catch2
  src/mlpack/tests/CMakeLists.txt
  src/mlpack/tests/decision_stump_test.cpp
  src/mlpack/tests/decision_tree_test.cpp
  src/mlpack/tests/main_tests/decision_stump_test.cpp
  src/mlpack/tests/main_tests/decision_tree_test.cpp
Labels: c: testing

#2552 Changes in Deterministic settings of FNN.
  src/mlpack/methods/ann/ffn_impl.hpp
  src/mlpack/tests/ann_layer_test.cpp
Labels: t: bugfix

#2494 Soft Margin Loss function
  src/mlpack/methods/ann/loss_functions/CMakeLists.txt
  src/mlpack/methods/ann/loss_functions/soft_margin_loss.hpp
  src/mlpack/methods/ann/loss_functions/soft_margin_loss_impl.hpp
  src/mlpack/tests/loss_functions_test.cpp
Labels: c: methods, s: keep open, t: added feature

#2398 fix lookup layer
  src/mlpack/methods/ann/layer/lookup.hpp
  src/mlpack/methods/ann/layer/lookup_impl.hpp
  src/mlpack/tests/ann_layer_test.cpp
Labels: c: methods, s: keep open, t: added feature

#2454 Addition of Categorical DQN
  HISTORY.md
  src/mlpack/methods/reinforcement_learning/environment/cart_pole.hpp
  src/mlpack/methods/reinforcement_learning/q_learning.hpp
  src/mlpack/methods/reinforcement_learning/q_learning_impl.hpp
  src/mlpack/methods/reinforcement_learning/q_networks/CMakeLists.txt
  src/mlpack/methods/reinforcement_learning/q_networks/categorical_dqn.hpp
  src/mlpack/methods/reinforcement_learning/training_config.hpp
  src/mlpack/tests/q_learning_test.cpp
Labels: c: methods, t: added feature

#2543 Rename libgo_util.so to libmlpack_go_util.so.
  src/mlpack/bindings/go/CMakeLists.txt
  src/mlpack/bindings/go/mlpack/arma_util.go
  src/mlpack/bindings/go/mlpack/io_util.go
Labels: c: automatic bindings

#2529 Migrate preprocess_* and related test from boost to catch2
  src/mlpack/tests/CMakeLists.txt
  src/mlpack/tests/binarize_test.cpp
  src/mlpack/tests/imputation_test.cpp
  src/mlpack/tests/main_tests/preprocess_binarize_test.cpp
  src/mlpack/tests/main_tests/preprocess_imputer_test.cpp
  src/mlpack/tests/main_tests/preprocess_scale_test.cpp
  src/mlpack/tests/main_tests/preprocess_split_test.cpp
  src/mlpack/tests/scaling_test.cpp
  src/mlpack/tests/split_data_test.cpp
Labels: c: testing

#2404 getter and setter methods for weight of some ann layers
  src/mlpack/methods/ann/init_rules/const_init.hpp
  src/mlpack/methods/ann/init_rules/gaussian_init.hpp
  src/mlpack/methods/ann/init_rules/glorot_init.hpp
  src/mlpack/methods/ann/init_rules/he_init.hpp
  src/mlpack/methods/ann/init_rules/kathirvalavakumar_subavathi_init.hpp
  src/mlpack/methods/ann/init_rules/lecun_normal_init.hpp
  src/mlpack/methods/ann/init_rules/network_init.hpp
  src/mlpack/methods/ann/init_rules/nguyen_widrow_init.hpp
  src/mlpack/methods/ann/init_rules/oivs_init.hpp
  src/mlpack/methods/ann/init_rules/orthogonal_init.hpp
  src/mlpack/methods/ann/init_rules/random_init.hpp
  src/mlpack/methods/ann/layer/atrous_convolution.hpp
  src/mlpack/methods/ann/layer/convolution.hpp
  src/mlpack/methods/ann/layer/linear.hpp
  src/mlpack/methods/ann/layer/transposed_convolution.hpp
  src/mlpack/tests/ann_layer_test.cpp
Labels: c: methods, t: added feature

#2487 Addition of Soft Actor-Critic to RL methods
  HISTORY.md
  src/mlpack/methods/reinforcement_learning/CMakeLists.txt
  src/mlpack/methods/reinforcement_learning/environment/env_type.hpp
  src/mlpack/methods/reinforcement_learning/environment/pendulum.hpp
  src/mlpack/methods/reinforcement_learning/q_learning_impl.hpp
  src/mlpack/methods/reinforcement_learning/replay/prioritized_replay.hpp
  src/mlpack/methods/reinforcement_learning/replay/random_replay.hpp
  src/mlpack/methods/reinforcement_learning/sac.hpp
  src/mlpack/methods/reinforcement_learning/sac_impl.hpp
  src/mlpack/methods/reinforcement_learning/training_config.hpp
  src/mlpack/tests/q_learning_test.cpp
  src/mlpack/tests/rl_components_test.cpp
Labels: c: methods, t: added feature

#2560 Fix documentation for incremental logistic regression
  HISTORY.md
  src/mlpack/methods/logistic_regression/logistic_regression.hpp
  src/mlpack/methods/logistic_regression/logistic_regression_function.hpp
  src/mlpack/methods/logistic_regression/logistic_regression_function_impl.hpp
  src/mlpack/methods/logistic_regression/logistic_regression_impl.hpp
  src/mlpack/tests/logistic_regression_test.cpp
Labels: c: documentation, c: methods, t: bugfix

#2559 Removing r-value reference from RBM
  src/mlpack/methods/ann/rbm/rbm.hpp
  src/mlpack/methods/ann/rbm/rbm_impl.hpp
  src/mlpack/methods/ann/rbm/spike_slab_rbm_impl.hpp
  src/mlpack/tests/rbm_network_test.cpp
Labels: c: methods, s: needs review, t: added feature

#2569 Added support for multiple actions in action space for Soft Actor Critic
  src/mlpack/methods/reinforcement_learning/environment/env_type.hpp
  src/mlpack/methods/reinforcement_learning/environment/pendulum.hpp
  src/mlpack/methods/reinforcement_learning/sac_impl.hpp
  src/mlpack/tests/q_learning_test.cpp
Labels: c: methods, t: added feature

#2575 Remove Python bindings from default build.
  .ci/ci.yaml
  CMakeLists.txt
  HISTORY.md
Labels: c: build system

#2570 migrate sparese_* related test from boost to catch2
  src/mlpack/tests/CMakeLists.txt
  src/mlpack/tests/main_tests/sparse_coding_test.cpp
  src/mlpack/tests/sparse_autoencoder_test.cpp
  src/mlpack/tests/sparse_coding_test.cpp
Labels: c: testing

#2375 multihead attention
  src/mlpack/core/math/CMakeLists.txt
  src/mlpack/core/math/multiply_slices.hpp
  src/mlpack/core/math/multiply_slices_impl.hpp
  src/mlpack/methods/ann/layer/CMakeLists.txt
  src/mlpack/methods/ann/layer/layer.hpp
  src/mlpack/methods/ann/layer/layer_types.hpp
  src/mlpack/methods/ann/layer/multihead_attention.hpp
  src/mlpack/methods/ann/layer/multihead_attention_impl.hpp
  src/mlpack/tests/activation_functions_test.cpp
  src/mlpack/tests/ann_layer_test.cpp
  src/mlpack/tests/ann_test_tools.hpp
Labels: c: methods, t: added feature

#2579 Migrate CVTest from boost to catch2
  src/mlpack/tests/CMakeLists.txt
  src/mlpack/tests/cv_test.cpp
Labels: c: testing

#2578 A small bug fix for SAC agent, while loading a pretrained model
  src/mlpack/methods/reinforcement_learning/sac_impl.hpp
Labels: c: methods, t: bugfix

#2574 migrate kernel_* related test from boost to catch2
  src/mlpack/tests/CMakeLists.txt
  src/mlpack/tests/kernel_pca_test.cpp
  src/mlpack/tests/kernel_test.cpp
  src/mlpack/tests/kernel_traits_test.cpp
  src/mlpack/tests/main_tests/kernel_pca_test.cpp
Labels: c: testing

#2553 Migrate bayesian_linear_regression related test from boost to catch2
  src/mlpack/tests/CMakeLists.txt
  src/mlpack/tests/bayesian_linear_regression_test.cpp
  src/mlpack/tests/main_tests/bayesian_linear_regression_test.cpp
Labels: c: testing

#2325 CLI Binding for one hot encoding
  HISTORY.md
  src/mlpack/bindings/cli/print_doc_functions_impl.hpp
  src/mlpack/bindings/go/print_doc_functions_impl.hpp
  src/mlpack/bindings/julia/print_doc_functions_impl.hpp
  src/mlpack/bindings/markdown/print_doc_functions_impl.hpp
  src/mlpack/bindings/python/print_doc_functions_impl.hpp
  src/mlpack/core.hpp
  src/mlpack/core/data/one_hot_encoding.hpp
  src/mlpack/core/data/one_hot_encoding_impl.hpp
  src/mlpack/methods/preprocess/CMakeLists.txt
  src/mlpack/methods/preprocess/preprocess_one_hot_encoding_main.cpp
  src/mlpack/tests/CMakeLists.txt
  src/mlpack/tests/load_save_test.cpp
  src/mlpack/tests/main_tests/preprocess_one_hot_encode_test.cpp
  src/mlpack/tests/one_hot_encoding_test.cpp
Labels: c: methods, s: keep open, t: added feature

#2564 Spatial Dropout layer
  HISTORY.md
  src/mlpack/methods/ann/layer/CMakeLists.txt
  src/mlpack/methods/ann/layer/layer.hpp
  src/mlpack/methods/ann/layer/layer_types.hpp
  src/mlpack/methods/ann/layer/spatial_dropout.hpp
  src/mlpack/methods/ann/layer/spatial_dropout_impl.hpp
  src/mlpack/tests/ann_layer_test.cpp
Labels: c: methods, t: added feature

#2588 Migrate Nca test
  src/mlpack/tests/CMakeLists.txt
  src/mlpack/tests/main_tests/nca_test.cpp
  src/mlpack/tests/nca_test.cpp
Labels: c: testing

#2591 Increase threshold to avoid occasional test failures.
  src/mlpack/tests/ann_layer_test.cpp
Labels: c: testing

#2566 Fix defeatist search for spill tree traversals
  HISTORY.md
  src/mlpack/core/tree/greedy_single_tree_traverser.hpp
  src/mlpack/core/tree/greedy_single_tree_traverser_impl.hpp
  src/mlpack/core/tree/spill_tree/spill_dual_tree_traverser.hpp
  src/mlpack/core/tree/spill_tree/spill_dual_tree_traverser_impl.hpp
  src/mlpack/core/tree/spill_tree/spill_single_tree_traverser.hpp
  src/mlpack/core/tree/spill_tree/spill_single_tree_traverser_impl.hpp
  src/mlpack/core/tree/spill_tree/spill_tree.hpp
  src/mlpack/core/tree/spill_tree/spill_tree_impl.hpp
  src/mlpack/methods/fastmks/fastmks_rules.hpp
  src/mlpack/methods/kde/kde_rules.hpp
  src/mlpack/methods/kmeans/dual_tree_kmeans_rules.hpp
  src/mlpack/methods/neighbor_search/neighbor_search_impl.hpp
  src/mlpack/methods/neighbor_search/neighbor_search_rules.hpp
  src/mlpack/methods/range_search/range_search_rules.hpp
  src/mlpack/methods/rann/ra_search_rules.hpp
  src/mlpack/tests/knn_test.cpp
  src/mlpack/tests/main.cpp
Labels: c: core, t: bugfix

#2594 migrate Kmeans test from boost to catch
  src/mlpack/tests/CMakeLists.txt
  src/mlpack/tests/kmeans_test.cpp
  src/mlpack/tests/main_tests/kmeans_test.cpp
Labels: c: testing
