Repository mlpack/mlpack, pull requests merged in 2020-03, with the labels that each got.

#1960 [Ready] String encoding fixes
  src/mlpack/core/boost_backport/CMakeLists.txt
  src/mlpack/core/boost_backport/boost_backport_string_view.hpp
  src/mlpack/core/boost_backport/string_view.hpp
  src/mlpack/core/boost_backport/string_view_fwd.hpp
  src/mlpack/core/data/CMakeLists.txt
  src/mlpack/core/data/load_impl.hpp
  src/mlpack/core/data/string_encoding.hpp
  src/mlpack/core/data/string_encoding_dictionary.hpp
  src/mlpack/core/data/string_encoding_impl.hpp
  src/mlpack/core/data/string_encoding_policies/CMakeLists.txt
  src/mlpack/core/data/string_encoding_policies/dictionary_encoding_policy.hpp
  src/mlpack/core/data/string_encoding_policies/policy_traits.hpp
  src/mlpack/core/data/tokenizers/CMakeLists.txt
  src/mlpack/core/data/tokenizers/char_extract.hpp
  src/mlpack/core/data/tokenizers/split_by_any_of.hpp
  src/mlpack/tests/CMakeLists.txt
  src/mlpack/tests/string_encoding_test.cpp
Labels: c: core, s: keep open, t: added feature

#2239 Hadamard product instead of Dot product in documentation
  src/mlpack/methods/ann/layer/lstm.hpp
Labels: c: methods, t: bugfix

#2244 Refactor Activation Function implemented in ann/layers.
  src/mlpack/methods/ann/layer/elu.hpp
  src/mlpack/methods/ann/layer/elu_impl.hpp
  src/mlpack/methods/ann/layer/leaky_relu.hpp
  src/mlpack/methods/ann/layer/leaky_relu_impl.hpp
  src/mlpack/methods/ann/layer/parametric_relu.hpp
  src/mlpack/methods/ann/layer/parametric_relu_impl.hpp
Labels: c: methods, t: added feature

#2255 Copyright and GOVERNANCE.md fix
  GOVERNANCE.md
  LICENSE.txt
Labels: c: documentation

#2246 Add specific versions of dependencies for Julia.
  README.md
  src/mlpack/bindings/julia/CMakeLists.txt
  src/mlpack/bindings/julia/mlpack/Project.toml.in
Labels: c: automatic bindings, t: bugfix

#2186 Adding hard shrink function
  src/mlpack/methods/ann/layer/CMakeLists.txt
  src/mlpack/methods/ann/layer/hardshrink.hpp
  src/mlpack/methods/ann/layer/hardshrink_impl.hpp
  src/mlpack/methods/ann/layer/layer_types.hpp
  src/mlpack/tests/activation_functions_test.cpp
Labels: c: methods, t: added feature

#2257 Quick Fix Python Ctest Binding Failure
  .ci/linux-steps.yaml
Labels: c: build system, c: testing, t: bugfix

#2254 Julia binding fixes
  src/mlpack/bindings/julia/CMakeLists.txt
  src/mlpack/bindings/julia/default_param_impl.hpp
  src/mlpack/bindings/julia/get_julia_type.hpp
  src/mlpack/bindings/julia/get_printable_type_impl.hpp
  src/mlpack/bindings/julia/julia_util.cpp
  src/mlpack/bindings/julia/julia_util.h
  src/mlpack/bindings/julia/mlpack/REQUIRE
  src/mlpack/bindings/julia/mlpack/cli.jl.in
  src/mlpack/bindings/julia/mlpack/mlpack.jl.in
  src/mlpack/bindings/julia/print_doc_functions_impl.hpp
  src/mlpack/bindings/julia/print_jl.cpp
  src/mlpack/bindings/julia/print_type_doc_impl.hpp
  src/mlpack/bindings/julia/tests/runtests.jl
  src/mlpack/bindings/markdown/print_doc_functions_impl.hpp
Labels: c: automatic bindings, t: bugfix

#2256 New NumFOCUS badge mockup
  README.md
Labels: c: documentation, t: added feature

#2277 Fix return type of A().
  src/mlpack/methods/ann/loss_functions/log_cosh_loss.hpp
Labels: c: methods, t: bugfix

#2267 Added URL's for Paper cited in some files
  src/mlpack/methods/ann/layer/alpha_dropout.hpp
  src/mlpack/methods/ann/layer/c_relu.hpp
  src/mlpack/methods/ann/layer/dropconnect.hpp
  src/mlpack/methods/ann/layer/dropout.hpp
  src/mlpack/methods/ann/layer/elu.hpp
  src/mlpack/methods/ann/layer/fast_lstm.hpp
  src/mlpack/methods/ann/layer/glimpse.hpp
  src/mlpack/methods/ann/layer/gru.hpp
  src/mlpack/methods/ann/layer/recurrent_attention.hpp
  src/mlpack/methods/ann/layer/reparametrization.hpp
  src/mlpack/methods/ann/layer/weight_norm.hpp
Labels: c: documentation, t: added feature

#2247 Simplify CMake for Armadillo and its Dependencies
  .appveyor.yml
  .ci/windows-steps.yaml
  CMake/ARMA_FindACML.cmake
  CMake/ARMA_FindACMLMP.cmake
  CMake/ARMA_FindARPACK.cmake
  CMake/ARMA_FindBLAS.cmake
  CMake/ARMA_FindCBLAS.cmake
  CMake/ARMA_FindCLAPACK.cmake
  CMake/ARMA_FindLAPACK.cmake
  CMake/ARMA_FindMKL.cmake
  CMake/ARMA_FindOpenBLAS.cmake
  CMake/FindARPACK.cmake
  CMake/FindArmadillo.cmake
  CMakeLists.txt
  doc/guide/build_windows.hpp
Labels: c: build system, t: added feature

#2265 Pooling Tests fail on Rectangular inputs?
  src/mlpack/methods/ann/layer/max_pooling.hpp
  src/mlpack/tests/ann_layer_test.cpp
Labels: c: testing, t: bugfix

#2281 Fix build according to r-value tests [Urgent]
  src/mlpack/tests/ann_layer_test.cpp
Labels: t: bugfix

#2285 typo fix in recurrent_attention layer
  src/mlpack/methods/ann/layer/recurrent_attention.hpp
Labels: c: documentation

#2260 Improving Contributing guidlines
  CONTRIBUTING.md
Labels: c: documentation

#2292 Removed r-value references from remaining functions [and some style fixes]
  src/mlpack/core/metrics/lmetric.hpp
  src/mlpack/core/metrics/mahalanobis_distance.hpp
  src/mlpack/core/metrics/mahalanobis_distance_impl.hpp
  src/mlpack/methods/ann/layer/hardshrink.hpp
  src/mlpack/methods/ann/layer/hardshrink_impl.hpp
  src/mlpack/methods/ann/layer/max_pooling.hpp
  src/mlpack/methods/ann/layer/mean_pooling.hpp
  src/mlpack/methods/ann/layer_names.hpp
  src/mlpack/methods/ann/loss_functions/log_cosh_loss.hpp
  src/mlpack/methods/ann/loss_functions/log_cosh_loss_impl.hpp
  src/mlpack/tests/activation_functions_test.cpp
  src/mlpack/tests/loss_functions_test.cpp
Labels: c: methods, t: bugfix

#2280 Fixed markdown pipe symbol issue
  src/mlpack/bindings/markdown/print_docs.cpp
Labels: c: documentation, t: bugfix

#2174 Adding soft shrink function
  src/mlpack/methods/ann/layer/CMakeLists.txt
  src/mlpack/methods/ann/layer/layer_types.hpp
  src/mlpack/methods/ann/layer/softshrink.hpp
  src/mlpack/methods/ann/layer/softshrink_impl.hpp
  src/mlpack/tests/activation_functions_test.cpp
Labels: c: methods, t: added feature

#2283 Use Cint to match C++'s int type, not Julia's Int.
  .ci/windows-steps.yaml
  src/mlpack/bindings/julia/CMakeLists.txt
  src/mlpack/bindings/julia/julia_util.cpp
  src/mlpack/bindings/julia/julia_util.h
  src/mlpack/bindings/julia/mlpack/cli.jl.in
Labels: c: automatic bindings, t: bugfix

#2289 Added Deterministic() function to ELU
  src/mlpack/methods/ann/layer/elu.hpp
Labels: c: methods, t: bugfix

#2295 Reinforcement Learning Tutorial
  doc/tutorials/reinforcement_learning/reinforcement_learning.txt
Labels: c: documentation, t: added feature

#2299 Cleaner code for a few test files
  src/mlpack/tests/adaboost_test.cpp
  src/mlpack/tests/convolutional_network_test.cpp
  src/mlpack/tests/feedforward_network_test.cpp
Labels: c: testing

#2306 Azure-pipelines: walkaround
  .ci/ci.yaml
Labels: c: build system, t: bugfix

#2238 Adding a warning in ffn_impl.hpp, rnn_impl.hpp and brnn_impl.hpp regarding the MaxIterations() parameter for the issue #2226.
  COPYRIGHT.txt
  src/mlpack/methods/ann/brnn.hpp
  src/mlpack/methods/ann/brnn_impl.hpp
  src/mlpack/methods/ann/ffn.hpp
  src/mlpack/methods/ann/ffn_impl.hpp
  src/mlpack/methods/ann/layer/layer_traits.hpp
  src/mlpack/methods/ann/rnn.hpp
  src/mlpack/methods/ann/rnn_impl.hpp
  src/mlpack/tests/activation_functions_test.cpp
  src/mlpack/tests/feedforward_network_test.cpp
Labels: c: documentation, c: methods, t: added feature

#2278 Fix Azure Pipeline Failure
  .ci/ci.yaml
  .ci/macos-steps.yaml
Labels: c: build system

#2305 Bump minimum Boost version to 1.58
  CMakeLists.txt
  HISTORY.md
  README.md
  doc/guide/build.hpp
  src/mlpack/core/boost_backport/CMakeLists.txt
  src/mlpack/core/boost_backport/boost_backport_math.hpp
  src/mlpack/core/boost_backport/boost_backport_serialization.hpp
  src/mlpack/core/boost_backport/polygamma.hpp
  src/mlpack/core/boost_backport/trigamma.hpp
  src/mlpack/core/boost_backport/unordered_map.hpp
  src/mlpack/core/dists/gamma_distribution.cpp
  src/mlpack/tests/mlpack_test.cpp
Labels: c: build system, t: bugfix

#2229 Adding Hinge embedding loss function
  COPYRIGHT.txt
  HISTORY.md
  src/mlpack/methods/ann/loss_functions/CMakeLists.txt
  src/mlpack/methods/ann/loss_functions/hinge_embedding_loss.hpp
  src/mlpack/methods/ann/loss_functions/hinge_embedding_loss_impl.hpp
  src/mlpack/tests/loss_functions_test.cpp
Labels: c: methods, t: added feature

#2199 adding huber loss implementation
  src/mlpack/methods/ann/loss_functions/CMakeLists.txt
  src/mlpack/methods/ann/loss_functions/huber_loss.hpp
  src/mlpack/methods/ann/loss_functions/huber_loss_impl.hpp
  src/mlpack/tests/loss_functions_test.cpp
Labels: c: methods, t: added feature

#2302 DoubleDQN doesn't utilize DoubleQLearning
  src/mlpack/tests/q_learning_test.cpp
Labels: c: testing, t: bugfix

#2301 Some minor code improvements
  src/mlpack/methods/reinforcement_learning/environment/acrobot.hpp
  src/mlpack/methods/reinforcement_learning/environment/continuous_mountain_car.hpp
  src/mlpack/methods/reinforcement_learning/environment/mountain_car.hpp
  src/mlpack/methods/reinforcement_learning/environment/pendulum.hpp
  src/mlpack/methods/reinforcement_learning/environment/reward_clipping.hpp
Labels: c: methods

#2312 Move all STB-related code into .cpp files.
  HISTORY.md
  doc/guide/formats.hpp
  src/mlpack/core/data/CMakeLists.txt
  src/mlpack/core/data/image_info.hpp
  src/mlpack/core/data/load.hpp
  src/mlpack/core/data/load_image.cpp
  src/mlpack/core/data/load_image_impl.hpp
  src/mlpack/core/data/save.hpp
  src/mlpack/core/data/save_image.cpp
  src/mlpack/core/data/save_impl.hpp
  src/mlpack/tests/CMakeLists.txt
  src/mlpack/tests/image_load_test.cpp
Labels: c: core, t: bugfix

#2139 Adding ComputeError function in lars class
  HISTORY.md
  src/mlpack/methods/lars/lars.cpp
  src/mlpack/methods/lars/lars.hpp
  src/mlpack/tests/lars_test.cpp
Labels: c: methods, t: added feature

#2326 Memory leak and invalid use fixes
  src/mlpack/core/arma_extend/Cube_extra_meat.hpp
  src/mlpack/core/data/scaler_methods/zca_whitening.hpp
  src/mlpack/core/metrics/ip_metric_impl.hpp
  src/mlpack/core/tree/hollow_ball_bound_impl.hpp
  src/mlpack/methods/ann/brnn.hpp
  src/mlpack/methods/ann/brnn_impl.hpp
  src/mlpack/methods/ann/ffn_impl.hpp
  src/mlpack/methods/ann/layer/add_merge.hpp
  src/mlpack/methods/ann/layer/add_merge_impl.hpp
  src/mlpack/methods/ann/layer/atrous_convolution.hpp
  src/mlpack/methods/ann/layer/atrous_convolution_impl.hpp
  src/mlpack/methods/ann/layer/concat_impl.hpp
  src/mlpack/methods/ann/layer/convolution.hpp
  src/mlpack/methods/ann/layer/convolution_impl.hpp
  src/mlpack/methods/ann/layer/dropconnect.hpp
  src/mlpack/methods/ann/layer/dropconnect_impl.hpp
  src/mlpack/methods/ann/layer/gru.hpp
  src/mlpack/methods/ann/layer/gru_impl.hpp
  src/mlpack/methods/ann/layer/highway.hpp
  src/mlpack/methods/ann/layer/highway_impl.hpp
  src/mlpack/methods/ann/layer/recurrent.hpp
  src/mlpack/methods/ann/layer/recurrent_impl.hpp
  src/mlpack/methods/ann/layer/sequential.hpp
  src/mlpack/methods/ann/layer/sequential_impl.hpp
  src/mlpack/methods/ann/layer/transposed_convolution.hpp
  src/mlpack/methods/ann/layer/transposed_convolution_impl.hpp
  src/mlpack/methods/ann/visitor/delete_visitor.hpp
  src/mlpack/methods/ann/visitor/delete_visitor_impl.hpp
  src/mlpack/methods/cf/cf_main.cpp
  src/mlpack/methods/fastmks/fastmks_main.cpp
  src/mlpack/methods/gmm/gmm_train_main.cpp
  src/mlpack/methods/hmm/hmm_train_main.cpp
  src/mlpack/methods/hoeffding_trees/hoeffding_tree.hpp
  src/mlpack/methods/hoeffding_trees/hoeffding_tree_impl.hpp
  src/mlpack/methods/hoeffding_trees/hoeffding_tree_model.cpp
  src/mlpack/methods/hoeffding_trees/hoeffding_tree_model.hpp
  src/mlpack/methods/kde/kde_impl.hpp
  src/mlpack/methods/kde/kde_main.cpp
  src/mlpack/methods/linear_svm/linear_svm_main.cpp
  src/mlpack/methods/local_coordinate_coding/local_coordinate_coding_main.cpp
  src/mlpack/methods/lsh/lsh_main.cpp
  src/mlpack/methods/neighbor_search/kfn_main.cpp
  src/mlpack/methods/neighbor_search/knn_main.cpp
  src/mlpack/methods/preprocess/preprocess_scale_main.cpp
  src/mlpack/methods/range_search/range_search_main.cpp
  src/mlpack/tests/ann_layer_test.cpp
  src/mlpack/tests/ann_visitor_test.cpp
  src/mlpack/tests/feedforward_network_test.cpp
  src/mlpack/tests/main_tests/fastmks_test.cpp
  src/mlpack/tests/main_tests/gmm_train_test.cpp
  src/mlpack/tests/main_tests/kde_test.cpp
  src/mlpack/tests/main_tests/knn_test.cpp
  src/mlpack/tests/main_tests/linear_svm_test.cpp
  src/mlpack/tests/main_tests/preprocess_scale_test.cpp
  src/mlpack/tests/main_tests/range_search_test.cpp
  src/mlpack/tests/recurrent_network_test.cpp
  src/mlpack/tests/tree_test.cpp
Labels: c: automatic bindings, c: methods, c: testing, t: bugfix

#2328 Alternate Homebrew HDF5 fix
  src/mlpack/core/arma_extend/arma_extend.hpp
Labels: c: build system, t: bugfix

#2329 Serialization Fix for some ANN layers.
  src/mlpack/methods/ann/layer/concat_performance_impl.hpp
  src/mlpack/methods/ann/layer/reinforce_normal.hpp
  src/mlpack/methods/ann/layer/reinforce_normal_impl.hpp
  src/mlpack/methods/ann/loss_functions/huber_loss_impl.hpp
  src/mlpack/methods/ann/loss_functions/kl_divergence_impl.hpp
  src/mlpack/methods/ann/loss_functions/log_cosh_loss_impl.hpp
Labels: c: methods, s: needs review, t: bugfix

#2276 Improved ANN Tutorial for FFN - Thyroid Dataset Example
  doc/tutorials/ann/ann.txt
Labels: c: documentation

#2340 Attempt to Fix Azure pipeline
  .ci/macos-steps.yaml
Labels: c: build system, t: bugfix

#2343 Use HDF 1.10 API instead of 1.08.
  src/mlpack/core/arma_extend/arma_extend.hpp
Labels: c: core
