Repository mlpack/mlpack, pull requests merged in 2020-06, with the labels that each got.

#2441 ftp.fau.de - faulty RAID controller
  .appveyor.yml
  .ci/linux-steps.yaml
Labels: c: build system

#2436 Bug Fix : Check correctness of shape in Transposed Conv. layer only when output width and height aren't zero.
  src/mlpack/methods/ann/layer/transposed_convolution_impl.hpp
  src/mlpack/tests/ann_layer_test.cpp
Labels: c: methods, t: bugfix

#2429 Fix "nested comment" Doxygen Error
  Doxyfile
  src/mlpack/core/util/param.hpp
  src/mlpack/methods/bias_svd/bias_svd_function.hpp
  src/mlpack/methods/decision_tree/all_categorical_split.hpp
  src/mlpack/methods/kmeans/max_variance_new_cluster.hpp
  src/mlpack/methods/linear_svm/linear_svm_function.hpp
  src/mlpack/methods/regularized_svd/regularized_svd_function.hpp
  src/mlpack/methods/svdplusplus/svdplusplus_function.hpp
Labels: c: documentation, t: bugfix

#2414 Addition of DuelingDQN and Noisy linear layer.
  HISTORY.md
  src/mlpack/methods/ann/layer/CMakeLists.txt
  src/mlpack/methods/ann/layer/concat.hpp
  src/mlpack/methods/ann/layer/layer.hpp
  src/mlpack/methods/ann/layer/layer_types.hpp
  src/mlpack/methods/ann/layer/noisylinear.hpp
  src/mlpack/methods/ann/layer/noisylinear_impl.hpp
  src/mlpack/methods/ann/layer/sequential.hpp
  src/mlpack/methods/ann/layer/sequential_impl.hpp
  src/mlpack/methods/ann/layer_names.hpp
  src/mlpack/methods/ann/loss_functions/CMakeLists.txt
  src/mlpack/methods/ann/loss_functions/empty_loss.hpp
  src/mlpack/methods/ann/loss_functions/empty_loss_impl.hpp
  src/mlpack/methods/reinforcement_learning/q_learning.hpp
  src/mlpack/methods/reinforcement_learning/q_learning_impl.hpp
  src/mlpack/methods/reinforcement_learning/q_networks/CMakeLists.txt
  src/mlpack/methods/reinforcement_learning/q_networks/dueling_dqn.hpp
  src/mlpack/methods/reinforcement_learning/q_networks/simple_dqn.hpp
  src/mlpack/tests/ann_layer_test.cpp
  src/mlpack/tests/q_learning_test.cpp
  src/mlpack/tests/reward_clipping_test.cpp
Labels: c: methods, t: added feature

#2449 Clarify comment---Serialize() is long gone.
  src/mlpack/core/util/param.hpp
Labels: c: documentation, t: bugfix

#2448 Extract the correct number of neighbors for QDAFN.
  HISTORY.md
  src/mlpack/methods/approx_kfn/approx_kfn_main.cpp
  src/mlpack/methods/approx_kfn/qdafn_impl.hpp
  src/mlpack/tests/qdafn_test.cpp
Labels: c: methods, t: bugfix

#2453 Change parameter description in BatchNorm layer to make it more clear.
  src/mlpack/methods/ann/layer/batch_norm.hpp
  src/mlpack/methods/ann/layer/virtual_batch_norm.hpp
Labels: c: documentation, c: methods

#2424 Adding some activation functions for RBFN
  src/mlpack/methods/ann/activation_functions/CMakeLists.txt
  src/mlpack/methods/ann/activation_functions/inverse_quadratic_function.hpp
  src/mlpack/methods/ann/activation_functions/multi_quadratic_function.hpp
  src/mlpack/methods/ann/activation_functions/poisson1_function.hpp
  src/mlpack/methods/ann/activation_functions/quadratic_function.hpp
  src/mlpack/methods/ann/activation_functions/spline_function.hpp
  src/mlpack/tests/activation_functions_test.cpp
Labels: c: methods, t: added feature

#2430 Remove Python 2.7 From Linux Azure Build.
  .ci/ci.yaml
  .ci/linux-steps.yaml
Labels: c: build system

#2446 Addition of Noisy DQN to QLearning
  HISTORY.md
  src/mlpack/methods/ann/layer/noisylinear_impl.hpp
  src/mlpack/methods/reinforcement_learning/policy/greedy_policy.hpp
  src/mlpack/methods/reinforcement_learning/q_learning_impl.hpp
  src/mlpack/methods/reinforcement_learning/q_networks/dueling_dqn.hpp
  src/mlpack/methods/reinforcement_learning/q_networks/simple_dqn.hpp
  src/mlpack/methods/reinforcement_learning/training_config.hpp
  src/mlpack/tests/q_learning_test.cpp
Labels: c: methods, t: added feature

#2261 Implementing Simple Radial Basis Function Layer
  HISTORY.md
  src/mlpack/methods/ann/activation_functions/CMakeLists.txt
  src/mlpack/methods/ann/activation_functions/gaussian_function.hpp
  src/mlpack/methods/ann/layer/CMakeLists.txt
  src/mlpack/methods/ann/layer/base_layer.hpp
  src/mlpack/methods/ann/layer/layer_types.hpp
  src/mlpack/methods/ann/layer/radial_basis_function.hpp
  src/mlpack/methods/ann/layer/radial_basis_function_impl.hpp
  src/mlpack/tests/activation_functions_test.cpp
  src/mlpack/tests/feedforward_network_test.cpp
Labels: c: methods, s: keep open, t: added feature

#2462 If MSVC, always link Arma dependencies
  CMake/FindArmadillo.cmake
Labels: c: build system, t: bugfix

#2469 Update julia_quickstart.hpp
  doc/guide/julia_quickstart.hpp
Labels: c: automatic bindings, c: documentation, t: bugfix

#2470 Allow Julia CMake configuration to handle spaces in directories
  src/mlpack/bindings/julia/CMakeLists.txt
Labels: c: build system, t: bugfix

#2460 :rocket: Add Go bindings for some missed models.
  .ci/linux-steps.yaml
  .ci/macos-steps.yaml
  CMake/ConfigureGoHCPP.cmake
  CMake/go/AppendModel.cmake
  CMake/go/ConfigureGoHCPP.cmake
  HISTORY.md
  doc/guide/go_quickstart.hpp
  src/mlpack/CMakeLists.txt
  src/mlpack/bindings/go/CMakeLists.txt
  src/mlpack/bindings/go/generate_cpp.cpp.in
  src/mlpack/bindings/go/generate_h.cpp.in
  src/mlpack/bindings/go/go_method.cpp.in
  src/mlpack/bindings/go/go_method.h.in
  src/mlpack/bindings/go/go_option.hpp
  src/mlpack/bindings/go/mlpack/doc.go
  src/mlpack/bindings/go/mlpack/go.mod
  src/mlpack/bindings/go/mlpack/go.sum
  src/mlpack/bindings/go/print_cpp.cpp
  src/mlpack/bindings/go/print_cpp.hpp
  src/mlpack/bindings/go/print_go.cpp
  src/mlpack/bindings/go/print_h.cpp
  src/mlpack/bindings/go/print_h.hpp
  src/mlpack/bindings/go/print_import_decl.hpp
  src/mlpack/bindings/go/print_input_processing.hpp
  src/mlpack/bindings/go/print_model_util.hpp
  src/mlpack/bindings/go/tests/CMakeLists.txt
  src/mlpack/bindings/go/tests/go_binding_test.go
  src/mlpack/methods/gmm/CMakeLists.txt
  src/mlpack/methods/hmm/CMakeLists.txt
  src/mlpack/methods/nmf/CMakeLists.txt
Labels: c: automatic bindings, t: bugfix

#2473 Removed execution right from go binding header files
  src/mlpack/bindings/go/get_printable_type.hpp
  src/mlpack/bindings/go/get_printable_type_impl.hpp
Labels: c: automatic bindings

#2406 Add Silhouette Score and Pairwise Distance
  HISTORY.md
  src/mlpack/core/cv/metrics/facilities.hpp
  src/mlpack/core/cv/metrics/silhouette_score.hpp
  src/mlpack/core/cv/metrics/silhouette_score_impl.hpp
  src/mlpack/tests/CMakeLists.txt
  src/mlpack/tests/cv_test.cpp
  src/mlpack/tests/facilities_test.cpp
Labels: c: methods, t: added feature

#2467 Cmake aramdillo
  CMake/CreateArmaConfigInfo.cmake
  CMake/FindArmadillo.cmake
  CMakeLists.txt
Labels: c: build system, t: added feature

#2461 N-step learning for DQN
  HISTORY.md
  src/mlpack/methods/reinforcement_learning/environment/pendulum.hpp
  src/mlpack/methods/reinforcement_learning/q_learning.hpp
  src/mlpack/methods/reinforcement_learning/q_learning_impl.hpp
  src/mlpack/methods/reinforcement_learning/replay/prioritized_replay.hpp
  src/mlpack/methods/reinforcement_learning/replay/random_replay.hpp
  src/mlpack/tests/q_learning_test.cpp
  src/mlpack/tests/rl_components_test.cpp
Labels: c: methods, t: added feature

#2475 Document Go in CMake Flags and Style Fixes.
  README.md
  src/mlpack/methods/ann/layer/radial_basis_function_impl.hpp
  src/mlpack/methods/ann/layer/sequential_impl.hpp
  src/mlpack/methods/reinforcement_learning/q_networks/simple_dqn.hpp
  src/mlpack/tests/feedforward_network_test.cpp
  src/mlpack/tests/q_learning_test.cpp
Labels: c: binding, c: build system, c: methods

#2479 Fix `NCAMainTest` tests to use labels
  src/mlpack/methods/reinforcement_learning/replay/prioritized_replay.hpp
  src/mlpack/methods/reinforcement_learning/replay/random_replay.hpp
  src/mlpack/tests/feedforward_network_test.cpp
  src/mlpack/tests/main_tests/nca_test.cpp
Labels: c: binding, c: testing, t: bugfix

#2483 Fix pointer error in Go-bindings
  src/mlpack/bindings/go/mlpack/capi/cli_util.cpp
Labels: c: automatic bindings, t: bugfix
