Repository mlpack/mlpack, pull requests merged in 2020-05, with the labels that each got.

#2392 Remove -Wreorder warning in LARS.
  src/mlpack/methods/lars/lars.cpp
Labels: c: methods

#2195 Addition of Adaptive Pooling (mean and max).
  HISTORY.md
  src/mlpack/methods/ann/layer/CMakeLists.txt
  src/mlpack/methods/ann/layer/adaptive_max_pooling.hpp
  src/mlpack/methods/ann/layer/adaptive_max_pooling_impl.hpp
  src/mlpack/methods/ann/layer/adaptive_mean_pooling.hpp
  src/mlpack/methods/ann/layer/adaptive_mean_pooling_impl.hpp
  src/mlpack/methods/ann/layer/layer.hpp
  src/mlpack/methods/ann/layer/layer_types.hpp
  src/mlpack/methods/ann/layer/max_pooling.hpp
  src/mlpack/methods/ann/layer/mean_pooling.hpp
  src/mlpack/methods/ann/layer_names.hpp
  src/mlpack/tests/ann_layer_test.cpp
Labels: c: methods, t: added feature

#2394 GMMTest Tolerance update
  src/mlpack/tests/gmm_test.cpp
Labels: c: testing, t: bugfix

#2268 Adding elliot activation
  HISTORY.md
  src/mlpack/methods/ann/activation_functions/CMakeLists.txt
  src/mlpack/methods/ann/activation_functions/elliot_function.hpp
  src/mlpack/methods/ann/layer/base_layer.hpp
  src/mlpack/tests/activation_functions_test.cpp
Labels: c: methods, s: keep open, t: added feature

#2395 Templatize `LSHSearch` to allow sparse matrices
  HISTORY.md
  src/mlpack/methods/lsh/lsh_search.hpp
  src/mlpack/methods/lsh/lsh_search_impl.hpp
  src/mlpack/tests/lsh_test.cpp
Labels: c: methods, t: added feature

#2321 Added accessor methods for ANN layers.
  HISTORY.md
  src/mlpack/methods/ann/layer/add.hpp
  src/mlpack/methods/ann/layer/batch_norm.hpp
  src/mlpack/methods/ann/layer/bilinear_interpolation.hpp
  src/mlpack/methods/ann/layer/concat.hpp
  src/mlpack/methods/ann/layer/concat_performance.hpp
  src/mlpack/methods/ann/layer/constant.hpp
  src/mlpack/methods/ann/layer/fast_lstm.hpp
  src/mlpack/methods/ann/layer/glimpse.hpp
  src/mlpack/methods/ann/layer/gru.hpp
  src/mlpack/methods/ann/layer/highway.hpp
  src/mlpack/methods/ann/layer/layer_norm.hpp
  src/mlpack/methods/ann/layer/lookup.hpp
  src/mlpack/methods/ann/layer/lstm.hpp
  src/mlpack/methods/ann/layer/recurrent.hpp
  src/mlpack/methods/ann/layer/recurrent_attention.hpp
  src/mlpack/methods/ann/layer/reinforce_normal.hpp
  src/mlpack/methods/ann/layer/reparametrization.hpp
  src/mlpack/methods/ann/layer/select.hpp
  src/mlpack/methods/ann/layer/subview.hpp
  src/mlpack/methods/ann/layer/virtual_batch_norm.hpp
  src/mlpack/methods/ann/layer/vr_class_reward.hpp
  src/mlpack/tests/ann_layer_test.cpp
Labels: c: methods

#2293 Add shuffle data paramter to data_split
  HISTORY.md
  src/mlpack/core/data/split_data.hpp
  src/mlpack/methods/preprocess/preprocess_split_main.cpp
  src/mlpack/tests/main_tests/preprocess_split_test.cpp
  src/mlpack/tests/split_data_test.cpp
Labels: c: core, t: added feature

#2371 Forward function update for softplus_function.hpp
  src/mlpack/methods/ann/activation_functions/softplus_function.hpp
  src/mlpack/tests/activation_functions_test.cpp
Labels: c: methods, t: bug report, t: bugfix

#2382 Addition of Normal Distribution to ANN module
  HISTORY.md
  src/mlpack/methods/ann/dists/CMakeLists.txt
  src/mlpack/methods/ann/dists/normal_distribution.hpp
  src/mlpack/methods/ann/dists/normal_distribution_impl.hpp
  src/mlpack/tests/ann_dist_test.cpp
Labels: c: methods, t: added feature

#2402 Add IoU metric for bounding boxes.
  src/mlpack/core/metrics/CMakeLists.txt
  src/mlpack/core/metrics/iou_metric.hpp
  src/mlpack/core/metrics/iou_metric_impl.hpp
  src/mlpack/core/metrics/lmetric.hpp
  src/mlpack/tests/metric_test.cpp
Labels: c: core, s: unanswered, t: added feature

#2407 Typo Fix.
  CMake/GeneratePkgConfig.cmake
Labels: c: documentation

#2344 Load and Save Sparse Matrix (arma::sp_mat) in MLpack using arma::coord_ascii
  HISTORY.md
  src/mlpack/core/data/load.cpp
  src/mlpack/core/data/load.hpp
  src/mlpack/core/data/load_impl.hpp
  src/mlpack/core/data/save.hpp
  src/mlpack/core/data/save_impl.hpp
  src/mlpack/tests/load_save_test.cpp
Labels: c: core, t: added feature

#2411 Add a scalers to cmake
  src/mlpack/core/data/CMakeLists.txt
Labels: c: methods, t: bugfix

#2413 Accessor and Mutator for action in q_learning
  HISTORY.md
  src/mlpack/methods/reinforcement_learning/q_learning.hpp
  src/mlpack/methods/reinforcement_learning/q_learning_impl.hpp
  src/mlpack/tests/q_learning_test.cpp
Labels: c: methods, t: added feature

#2351 [MRG] adding softmax layer
  .gitignore
  src/mlpack/methods/ann/layer/CMakeLists.txt
  src/mlpack/methods/ann/layer/layer.hpp
  src/mlpack/methods/ann/layer/layer_types.hpp
  src/mlpack/methods/ann/layer/softmax.hpp
  src/mlpack/methods/ann/layer/softmax_impl.hpp
  src/mlpack/tests/ann_layer_test.cpp
Labels: c: methods

#2416 Don't use masterblaster.mlpack.org anymore in CI steps
  .ci/windows-steps.yaml
Labels: c: build system, t: bugfix

#2405 Check ci build issue with DEBUG=ON
  .ci/linux-steps.yaml
Labels: c: build system

#2419 Fix linear SVM binding bugs
  HISTORY.md
  src/mlpack/methods/linear_svm/linear_svm_impl.hpp
  src/mlpack/methods/linear_svm/linear_svm_main.cpp
Labels: c: automatic bindings, t: bugfix

#2417 Allow using only `--input_model` with `mlpack_lsh`
  src/mlpack/methods/lsh/lsh_main.cpp
Labels: c: automatic bindings, t: bugfix

#2383 Modified the CMakeLists.txt such that it generates mlpack-config.cmake
  CMake/CMakeExtras.cmake
  CMake/mlpack-config.cmake.in
  CMakeLists.txt
  src/mlpack/CMakeLists.txt
Labels: c: build system, t: added feature

#2410 Add Fast NMS.
  HISTORY.md
  src/mlpack/core/metrics/CMakeLists.txt
  src/mlpack/core/metrics/iou_metric.hpp
  src/mlpack/core/metrics/iou_metric_impl.hpp
  src/mlpack/core/metrics/non_maximal_supression.hpp
  src/mlpack/core/metrics/non_maximal_supression_impl.hpp
  src/mlpack/tests/metric_test.cpp
Labels: c: methods, t: added feature

#2423 Quick Saturday fixes
  doc/guide/julia_quickstart.hpp
  src/mlpack/methods/lsh/lsh_search.hpp
Labels: c: documentation, c: methods, t: bugfix

#2425 Fixed the minor typo
  src/mlpack/methods/ann/dists/normal_distribution.hpp
Labels: c: documentation, t: bugfix

#2426 Update cli_quickstart.hpp
  COPYRIGHT.txt
  doc/guide/cli_quickstart.hpp
  doc/guide/python_quickstart.hpp
Labels: c: documentation

#2431 Fix type in mlpack_krann binding
  src/mlpack/methods/rann/krann_main.cpp
Labels: c: binding, t: bugfix
