Repository mlpack/mlpack, pull requests merged in 2021-08, with the labels that each got.

#2345 Adding MultiLabel SoftMargin Loss
  HISTORY.md
  src/mlpack/methods/ann/loss_functions/CMakeLists.txt
  src/mlpack/methods/ann/loss_functions/multilabel_softmargin_loss.hpp
  src/mlpack/methods/ann/loss_functions/multilabel_softmargin_loss_impl.hpp
  src/mlpack/tests/loss_functions_test.cpp
Labels: s: keep open, c: methods, t: added feature

#3036 Update HISTORY for threadsafe-io branch
  HISTORY.md
Labels: t: bugfix

#3028 group norm implementation
  src/mlpack/methods/ann/layer/CMakeLists.txt
  src/mlpack/methods/ann/layer/group_norm.hpp
  src/mlpack/methods/ann/layer/group_norm_impl.hpp
  src/mlpack/methods/ann/layer/layer_types.hpp
  src/mlpack/tests/ann_layer_test.cpp
Labels: c: methods, t: added feature

#3045 Change CMAKE_SOURCE_DIR to CURRENT_SOURCE for easily import mlpack in Project
  CMakeLists.txt
  src/mlpack/CMakeLists.txt
Labels: c: build system
