Repository mlpack/mlpack, pull requests merged in 2021-07, with the labels that each got.

#2952 Adding the missing installation step for the Autodownloader
  CMake/Autodownload.cmake
Labels: c: build system, c: core

#3005 Remove this boost pointer vector header.
  src/mlpack/methods/ann/layer/concat.hpp
  src/mlpack/methods/ann/layer/concat_performance.hpp
  src/mlpack/methods/ann/layer/highway.hpp
  src/mlpack/methods/ann/layer/recurrent_attention.hpp
  src/mlpack/methods/ann/layer/sequential.hpp
  src/mlpack/methods/dbscan/dbscan.hpp
  src/mlpack/methods/mean_shift/mean_shift.hpp
  src/mlpack/tests/lrsdp_test.cpp
  src/mlpack/tests/test_catch_tools.hpp
Labels: t: bugfix, update dependencies

#3009 Addition of ReLU6
  src/mlpack/methods/ann/layer/CMakeLists.txt
  src/mlpack/methods/ann/layer/layer.hpp
  src/mlpack/methods/ann/layer/layer_types.hpp
  src/mlpack/methods/ann/layer/relu6.hpp
  src/mlpack/methods/ann/layer/relu6_impl.hpp
  src/mlpack/tests/activation_functions_test.cpp
Labels: c: methods, t: added feature

#3017 Added nearest interpolation upsampling
  src/mlpack/methods/ann/layer/CMakeLists.txt
  src/mlpack/methods/ann/layer/layer.hpp
  src/mlpack/methods/ann/layer/layer_types.hpp
  src/mlpack/methods/ann/layer/nearest_interpolation.hpp
  src/mlpack/methods/ann/layer/nearest_interpolation_impl.hpp
  src/mlpack/tests/ann_layer_test.cpp
Labels: c: methods, t: added feature

#3003 SSE Loss for XGBoost
  src/mlpack/methods/xgboost/CMakeLists.txt
  src/mlpack/methods/xgboost/loss_functions/sse_loss.hpp
  src/mlpack/tests/CMakeLists.txt
  src/mlpack/tests/xgboost_test.cpp
Labels: c: methods, t: added feature

#3014 Refactor DecisionTreeRegressor to support XGBoost.
  src/mlpack/methods/decision_tree/all_categorical_split.hpp
  src/mlpack/methods/decision_tree/all_categorical_split_impl.hpp
  src/mlpack/methods/decision_tree/best_binary_numeric_split.hpp
  src/mlpack/methods/decision_tree/best_binary_numeric_split_impl.hpp
  src/mlpack/methods/decision_tree/decision_tree_regressor.hpp
  src/mlpack/methods/decision_tree/decision_tree_regressor_impl.hpp
  src/mlpack/methods/decision_tree/mad_gain.hpp
  src/mlpack/methods/decision_tree/mse_gain.hpp
  src/mlpack/methods/decision_tree/random_binary_numeric_split.hpp
  src/mlpack/methods/decision_tree/random_binary_numeric_split_impl.hpp
  src/mlpack/tests/decision_tree_regressor_test.cpp
Labels: c: methods, t: added feature

#3008 Added bicubic interpolation
  src/mlpack/methods/ann/layer/CMakeLists.txt
  src/mlpack/methods/ann/layer/bicubic_interpolation.hpp
  src/mlpack/methods/ann/layer/bicubic_interpolation_impl.hpp
  src/mlpack/methods/ann/layer/layer.hpp
  src/mlpack/methods/ann/layer/layer_types.hpp
  src/mlpack/tests/ann_layer_test.cpp
Labels: c: methods, s: needs review

#3001 Add 'probabilities' option to softmax regression binding
  HISTORY.md
  src/mlpack/methods/softmax_regression/softmax_regression_main.cpp
  src/mlpack/tests/main_tests/softmax_regression_test.cpp
Labels: c: binding, s: stale, t: added feature
