Repository mlpack/mlpack, pull requests merged in 2021-09, with the labels that each got.

#3048 Document Armadillo version policy
  CMakeLists.txt
Labels: c: documentation

#3056 Remove io_impl empty file
  src/mlpack/core/util/CMakeLists.txt
  src/mlpack/core/util/io.hpp
  src/mlpack/core/util/io_impl.hpp
Labels: c: binding, c: core

#3047 Add checks for labels and input sizes for split function
  src/mlpack/core/data/split_data.hpp
  src/mlpack/core/util/size_checks.hpp
  src/mlpack/tests/size_checks_test.cpp
  src/mlpack/tests/split_data_test.cpp
Labels: c: testing, t: added feature

#3034 Attempt to fix double-free of XPtrs for R bindings
  .github/workflows/main.yml
  CMake/R/ConfigureRCPP.cmake
  HISTORY.md
  src/mlpack/bindings/R/print_R.cpp
  src/mlpack/bindings/R/print_input_processing.hpp
  src/mlpack/bindings/R/print_serialize_util.hpp
Labels: c: automatic bindings, t: bugfix

#2953 Disable autodownload by default
  .ci/linux-steps.yaml
  .ci/macos-steps.yaml
  .ci/windows-steps.yaml
  CMakeLists.txt
Labels: s: keep open, c: build system

#3061 Remove ar parameter to avoid the warning
  src/mlpack/methods/ann/layer/relu6.hpp
  src/mlpack/methods/ann/layer/relu6_impl.hpp
Labels: c: methods, t: bugfix

#3062 Clean reorder warning
  src/mlpack/methods/ann/layer/group_norm.hpp
  src/mlpack/methods/xgboost/loss_functions/sse_loss.hpp
Labels: c: methods, t: bugfix
