Repository mlpack/mlpack, pull requests merged in 2021-02, with the labels that each got.

#2787 added check_input_matrices option to python bindings
  HISTORY.md
  src/mlpack/bindings/python/mlpack/io.pxd
  src/mlpack/bindings/python/print_pyx.cpp
  src/mlpack/bindings/python/py_option.hpp
  src/mlpack/bindings/python/tests/test_python_binding.py
  src/mlpack/core/util/io.cpp
  src/mlpack/core/util/io.hpp
  src/mlpack/core/util/io_impl.hpp
  src/mlpack/core/util/mlpack_main.hpp
  src/mlpack/core/util/param.hpp
Labels: c: binding, t: added feature

#2807 Static error: fix static error for list of classes
  src/mlpack/core/tree/ballbound.hpp
  src/mlpack/core/tree/ballbound_impl.hpp
  src/mlpack/core/tree/hollow_ball_bound.hpp
  src/mlpack/core/tree/hollow_ball_bound_impl.hpp
  src/mlpack/core/tree/hrectbound.hpp
  src/mlpack/core/tree/hrectbound_impl.hpp
  src/mlpack/core/tree/rectangle_tree/discrete_hilbert_value.hpp
  src/mlpack/core/tree/rectangle_tree/discrete_hilbert_value_impl.hpp
  src/mlpack/methods/adaboost/adaboost_model.cpp
  src/mlpack/methods/adaboost/adaboost_model.hpp
  src/mlpack/methods/amf/termination_policies/complete_incremental_termination.hpp
  src/mlpack/methods/amf/termination_policies/incomplete_incremental_termination.hpp
  src/mlpack/methods/amf/termination_policies/simple_residue_termination.hpp
  src/mlpack/methods/amf/update_rules/svd_complete_incremental_learning.hpp
  src/mlpack/methods/amf/update_rules/svd_incomplete_incremental_learning.hpp
  src/mlpack/methods/ann/layer/recurrent_attention_impl.hpp
  src/mlpack/methods/ann/layer/reinforce_normal_impl.hpp
  src/mlpack/methods/fastmks/fastmks.hpp
  src/mlpack/methods/fastmks/fastmks_impl.hpp
  src/mlpack/methods/fastmks/fastmks_model.cpp
  src/mlpack/methods/fastmks/fastmks_model.hpp
  src/mlpack/methods/hmm/hmm_model.hpp
  src/mlpack/methods/hoeffding_trees/hoeffding_tree.hpp
  src/mlpack/methods/hoeffding_trees/hoeffding_tree_impl.hpp
  src/mlpack/methods/hoeffding_trees/hoeffding_tree_model.cpp
  src/mlpack/methods/kde/kde.hpp
  src/mlpack/methods/kde/kde_impl.hpp
  src/mlpack/methods/kmeans/dual_tree_kmeans_rules_impl.hpp
  src/mlpack/methods/preprocess/scaling_model.hpp
  src/mlpack/methods/preprocess/scaling_model_impl.hpp
  src/mlpack/methods/range_search/range_search.hpp
  src/mlpack/methods/range_search/range_search_impl.hpp
  src/mlpack/methods/reinforcement_learning/q_networks/categorical_dqn.hpp
Labels: c: methods

#2772 Make sure all state values are set to zero on reset.
  src/mlpack/methods/ann/layer/fast_lstm_impl.hpp
  src/mlpack/methods/ann/layer/lstm_impl.hpp
Labels: c: methods, t: bugfix

#2823 Remove no longer used test
  src/mlpack/tests/function_test.cpp
Labels: c: testing

#2824 brew cask instal is no longer supported
  .ci/macos-steps.yaml
Labels: c: build system, t: bugfix

#2803 Remove boost::visitor from `Model` classes
  COPYRIGHT.txt
  HISTORY.md
  src/mlpack/methods/cf/CMakeLists.txt
  src/mlpack/methods/cf/cf_main.cpp
  src/mlpack/methods/cf/cf_model.cpp
  src/mlpack/methods/cf/cf_model.hpp
  src/mlpack/methods/cf/cf_model_impl.hpp
  src/mlpack/methods/kde/CMakeLists.txt
  src/mlpack/methods/kde/kde_model.cpp
  src/mlpack/methods/kde/kde_model.hpp
  src/mlpack/methods/kde/kde_model_impl.hpp
  src/mlpack/methods/neighbor_search/kfn_main.cpp
  src/mlpack/methods/neighbor_search/knn_main.cpp
  src/mlpack/methods/neighbor_search/neighbor_search.hpp
  src/mlpack/methods/neighbor_search/ns_model.hpp
  src/mlpack/methods/neighbor_search/ns_model_impl.hpp
  src/mlpack/methods/range_search/CMakeLists.txt
  src/mlpack/methods/range_search/range_search.hpp
  src/mlpack/methods/range_search/rs_model.cpp
  src/mlpack/methods/range_search/rs_model.hpp
  src/mlpack/methods/range_search/rs_model_impl.hpp
  src/mlpack/methods/rann/CMakeLists.txt
  src/mlpack/methods/rann/krann_main.cpp
  src/mlpack/methods/rann/ra_model.cpp
  src/mlpack/methods/rann/ra_model.hpp
  src/mlpack/methods/rann/ra_model_impl.hpp
  src/mlpack/methods/rann/ra_search.hpp
  src/mlpack/tests/aknn_test.cpp
  src/mlpack/tests/knn_test.cpp
  src/mlpack/tests/krann_search_test.cpp
  src/mlpack/tests/main_tests/cf_test.cpp
  src/mlpack/tests/main_tests/krann_test.cpp
Labels: c: binding, c: methods, t: bugfix

#2828 Added LP pooling layer
  src/mlpack/methods/ann/layer/CMakeLists.txt
  src/mlpack/methods/ann/layer/layer.hpp
  src/mlpack/methods/ann/layer/layer_types.hpp
  src/mlpack/methods/ann/layer/lp_pooling.hpp
  src/mlpack/methods/ann/layer/lp_pooling_impl.hpp
  src/mlpack/methods/ann/layer_names.hpp
  src/mlpack/tests/ann_layer_test.cpp
Labels: c: methods, t: added feature

#2810 Added Hinge Loss to loss functions
  src/mlpack/methods/ann/loss_functions/CMakeLists.txt
  src/mlpack/methods/ann/loss_functions/hinge_loss.hpp
  src/mlpack/methods/ann/loss_functions/hinge_loss_impl.hpp
  src/mlpack/tests/loss_functions_test.cpp
Labels: c: methods, t: added feature

#2831 Update convolution.hpp
  src/mlpack/methods/ann/layer/convolution.hpp
Labels: c: documentation

#2836 Hard swish Activation Function
  src/mlpack/methods/ann/activation_functions/CMakeLists.txt
  src/mlpack/methods/ann/activation_functions/hard_swish_function.hpp
  src/mlpack/methods/ann/layer/base_layer.hpp
  src/mlpack/tests/activation_functions_test.cpp
Labels: c: methods, s: needs review, t: added feature

#2845 ISLRU activation function
  src/mlpack/methods/ann/layer/CMakeLists.txt
  src/mlpack/methods/ann/layer/isrlu.hpp
  src/mlpack/methods/ann/layer/isrlu_impl.hpp
  src/mlpack/methods/ann/layer/layer_types.hpp
  src/mlpack/tests/activation_functions_test.cpp
Labels: c: methods, s: unanswered, t: added feature

#2833 Pixel shuffle Layer
  HISTORY.md
  src/mlpack/methods/ann/layer/CMakeLists.txt
  src/mlpack/methods/ann/layer/layer.hpp
  src/mlpack/methods/ann/layer/layer_types.hpp
  src/mlpack/methods/ann/layer/pixel_shuffle.hpp
  src/mlpack/methods/ann/layer/pixel_shuffle_impl.hpp
  src/mlpack/tests/ann_layer_test.cpp
Labels: c: methods, t: added feature

#2851 Make sure feedforward_network_2_test.cpp gets compiled and run.
  src/mlpack/tests/CMakeLists.txt
Labels: c: testing, t: bugfix
