Repository mlpack/mlpack, pull requests merged in 2021-03, with the labels that each got.

#2853 fix default values of cmake config for bindings in docs
  doc/guide/build.hpp
Labels: c: automatic bindings, c: build system, c: documentation, t: bugfix

#2839 Use `std::back_inserter()` for `util::ToLower()`
  src/mlpack/core/util/to_lower.hpp
  src/mlpack/methods/ann/layer/atrous_convolution_impl.hpp
  src/mlpack/methods/ann/layer/convolution_impl.hpp
  src/mlpack/methods/ann/layer/transposed_convolution_impl.hpp
Labels: c: core, t: bugfix

#2412 Add CMake linking for OpenMP. Fixes build error for macOS 10.15 Catalina
  .ci/macos-steps.yaml
  CMakeLists.txt
  COPYRIGHT.txt
Labels: c: build system, s: keep open, t: question

#2844 Fail messages on Data Load
  src/mlpack/tests/feedforward_network_2_test.cpp
  src/mlpack/tests/feedforward_network_test.cpp
  src/mlpack/tests/io_test.cpp
  src/mlpack/tests/kfn_test.cpp
  src/mlpack/tests/knn_test.cpp
  src/mlpack/tests/krann_search_test.cpp
  src/mlpack/tests/ksinit_test.cpp
  src/mlpack/tests/lars_test.cpp
  src/mlpack/tests/lin_alg_test.cpp
  src/mlpack/tests/lmnn_test.cpp
  src/mlpack/tests/load_save_test.cpp
  src/mlpack/tests/lrsdp_test.cpp
  src/mlpack/tests/lsh_test.cpp
  src/mlpack/tests/matrix_completion_test.cpp
  src/mlpack/tests/nbc_test.cpp
  src/mlpack/tests/nystroem_method_test.cpp
  src/mlpack/tests/one_hot_encoding_test.cpp
  src/mlpack/tests/pca_test.cpp
  src/mlpack/tests/quic_svd_test.cpp
  src/mlpack/tests/radical_test.cpp
  src/mlpack/tests/random_forest_test.cpp
  src/mlpack/tests/svd_incremental_test.cpp
  src/mlpack/tests/svdplusplus_test.cpp
Labels: c: testing

#2856 Fix anchor links in generated Markdown documentation
  src/mlpack/bindings/go/print_type_doc_impl.hpp
  src/mlpack/bindings/markdown/print_docs.cpp
  src/mlpack/methods/amf/termination_policies/simple_residue_termination.hpp
  src/mlpack/methods/amf/update_rules/svd_complete_incremental_learning.hpp
Labels: c: automatic bindings, c: documentation, t: bugfix

#2861 Add functions to modify parameters for LARS
  HISTORY.md
  src/mlpack/methods/lars/lars.cpp
  src/mlpack/methods/lars/lars.hpp
Labels: c: methods, t: added feature

#2862 Loosen tolerances for AdaBoost test
  src/mlpack/tests/adaboost_test.cpp
Labels: c: methods, c: testing, t: bugfix

#2860 Optimising the Bootstrap function
  src/mlpack/methods/random_forest/bootstrap.hpp
Labels: c: methods

#2863 Move initialization of static environment members into a cpp file
  src/mlpack/methods/reinforcement_learning/environment/CMakeLists.txt
  src/mlpack/methods/reinforcement_learning/environment/env_type.cpp
  src/mlpack/methods/reinforcement_learning/environment/env_type.hpp
Labels: c: methods, t: bugfix

#2859 add WeightSize() for linear_no_bias, rbf, constant
  src/mlpack/methods/ann/layer/constant.hpp
  src/mlpack/methods/ann/layer/linear_no_bias.hpp
  src/mlpack/methods/ann/layer/linear_no_bias_impl.hpp
  src/mlpack/methods/ann/layer/radial_basis_function.hpp
Labels: c: methods, t: added feature

#2870 Remove addition t from the word test
  src/mlpack/tests/tree_traits_test.cpp
Labels: c: testing

#2871 Remove matlab references
  CMake/FindMatlabMex.cmake
  CMakeLists.txt
Labels: c: documentation

#2746 Templated data::Split and added support for Field Type
  src/mlpack/core/data/split_data.hpp
  src/mlpack/tests/split_data_test.cpp
  src/mlpack/tests/test_catch_tools.hpp
Labels: c: methods, t: added feature

#2875 Fixed variable names in #2746
  src/mlpack/tests/split_data_test.cpp
Labels: c: testing

#2878 Fixed documentation in information_gain.hpp.
  src/mlpack/methods/decision_tree/information_gain.hpp
Labels: c: documentation

#2874 Remove ElemType template parameter from DecisionTree
  HISTORY.md
  src/mlpack/methods/decision_tree/all_categorical_split.hpp
  src/mlpack/methods/decision_tree/all_categorical_split_impl.hpp
  src/mlpack/methods/decision_tree/best_binary_numeric_split.hpp
  src/mlpack/methods/decision_tree/best_binary_numeric_split_impl.hpp
  src/mlpack/methods/decision_tree/decision_tree.hpp
  src/mlpack/methods/decision_tree/decision_tree_impl.hpp
  src/mlpack/methods/random_forest/random_forest.hpp
  src/mlpack/methods/random_forest/random_forest_impl.hpp
  src/mlpack/tests/decision_tree_test.cpp
Labels: c: methods, t: bugfix

#2884 Handle empty OpenMP_CXX_FLAGS correctly
  HISTORY.md
  src/mlpack/bindings/python/setup.py.in
Labels: c: automatic bindings, c: build system, t: bugfix

#2806 Fix RAM issue on Solaris(CRAN) and Windows build.
  src/mlpack/bindings/R/CMakeLists.txt
  src/mlpack/bindings/R/mlpack/configure
  src/mlpack/bindings/R/mlpack/src/Makevars.win
  src/mlpack/bindings/R/mlpack/src/rcpp_mlpack.h
  src/mlpack/core.hpp
  src/mlpack/core/math/random.hpp
  src/mlpack/core/util/timers.hpp
  src/mlpack/core/util/to_lower.hpp
  src/mlpack/methods/amf/update_rules/nmf_mult_div.hpp
  src/mlpack/methods/block_krylov_svd/randomized_block_krylov_svd.cpp
Labels: c: automatic bindings, c: build system, t: bugfix

#2885 Add methods to `BayesianLinearRegression` to change training parameters
  src/mlpack/methods/bayesian_linear_regression/bayesian_linear_regression.cpp
  src/mlpack/methods/bayesian_linear_regression/bayesian_linear_regression.hpp
  src/mlpack/methods/bayesian_linear_regression/bayesian_linear_regression_impl.hpp
Labels: c: methods, t: added feature

#2031 Accelerate HMM `Forward()` and `Backward()` by precomputing probabilities
  src/mlpack/core/dists/gaussian_distribution.hpp
  src/mlpack/core/math/log_add.hpp
  src/mlpack/core/math/log_add_impl.hpp
  src/mlpack/methods/gmm/diagonal_gmm.cpp
  src/mlpack/methods/gmm/diagonal_gmm.hpp
  src/mlpack/methods/gmm/gmm.cpp
  src/mlpack/methods/gmm/gmm.hpp
  src/mlpack/methods/hmm/hmm.hpp
  src/mlpack/methods/hmm/hmm_impl.hpp
  src/mlpack/tests/gmm_test.cpp
  src/mlpack/tests/hmm_test.cpp
Labels: c: methods, s: keep open, t: added feature

#2892 Auto-detect a CSV header in `data::Load()`
  src/mlpack/bindings/cli/print_type_doc_impl.hpp
  src/mlpack/core/data/detect_file_type.cpp
  src/mlpack/core/data/detect_file_type.hpp
  src/mlpack/core/data/load.hpp
  src/mlpack/tests/load_save_test.cpp
Labels: c: core, c: documentation, t: added feature

#2890 Improve Linear Regression Docs.
  doc/tutorials/linear_regression/linear_regression.txt
Labels: c: documentation

#2893 Update Reinforcement Learning tutorial for custom DQN network
  doc/tutorials/reinforcement_learning/reinforcement_learning.txt
Labels: c: documentation, t: bugfix
