Repository mlpack/mlpack, pull requests merged in 2021-06, with the labels that each got.

#2868 make models more accessible in python
  HISTORY.md
  src/mlpack/bindings/python/CMakeLists.txt
  src/mlpack/bindings/python/mlpack/preprocess_json_params.py
  src/mlpack/bindings/python/mlpack/serialization.hpp
  src/mlpack/bindings/python/mlpack/serialization.pxd
  src/mlpack/bindings/python/print_class_defn.hpp
  src/mlpack/bindings/python/print_pyx.cpp
  src/mlpack/bindings/python/print_type_doc_impl.hpp
Labels: c: automatic bindings, c: methods

#2968 Fix missing semicolon in Python type documentation
  src/mlpack/bindings/python/print_type_doc_impl.hpp
Labels: c: automatic bindings, t: bugfix

#2965 Fix style issues
  src/mlpack/bindings/python/print_pyx.cpp
  src/mlpack/core/cv/cv_base_impl.hpp
  src/mlpack/core/util/mlpack_main.hpp
  src/mlpack/core/util/size_checks.hpp
  src/mlpack/methods/amf/termination_policies/simple_residue_termination.hpp
  src/mlpack/methods/ann/activation_functions/silu_function.hpp
  src/mlpack/methods/ann/activation_functions/tanh_exponential_function.hpp
  src/mlpack/methods/ann/ffn_impl.hpp
  src/mlpack/methods/ann/layer/atrous_convolution.hpp
  src/mlpack/methods/ann/layer/base_layer.hpp
  src/mlpack/methods/ann/layer/concatenate_impl.hpp
  src/mlpack/methods/ann/layer/flatten_t_swish_impl.hpp
  src/mlpack/methods/ann/layer/gru.hpp
  src/mlpack/methods/ann/layer/isrlu.hpp
  src/mlpack/methods/ann/layer/linear.hpp
  src/mlpack/methods/ann/layer/lp_pooling.hpp
  src/mlpack/methods/ann/layer/lstm.hpp
  src/mlpack/methods/ann/layer/lstm_impl.hpp
  src/mlpack/methods/ann/layer/mean_pooling.hpp
  src/mlpack/methods/ann/layer/pixel_shuffle_impl.hpp
  src/mlpack/methods/ann/layer/recurrent_impl.hpp
  src/mlpack/methods/ann/layer/reparametrization.hpp
  src/mlpack/methods/ann/layer/reparametrization_impl.hpp
  src/mlpack/methods/ann/loss_functions/binary_cross_entropy_loss_impl.hpp
  src/mlpack/methods/ann/loss_functions/huber_loss_impl.hpp
  src/mlpack/methods/ann/loss_functions/kl_divergence_impl.hpp
  src/mlpack/methods/ann/loss_functions/sigmoid_cross_entropy_error.hpp
  src/mlpack/methods/ann/loss_functions/triplet_margin_loss.hpp
  src/mlpack/methods/ann/loss_functions/triplet_margin_loss_impl.hpp
  src/mlpack/methods/ann/rnn_impl.hpp
  src/mlpack/methods/ann/util/check_input_shape.hpp
  src/mlpack/methods/kde/kde_impl.hpp
  src/mlpack/methods/neighbor_search/ns_model.hpp
  src/mlpack/methods/neighbor_search/ns_model_impl.hpp
  src/mlpack/methods/pca/pca_impl.hpp
  src/mlpack/methods/range_search/range_search_impl.hpp
  src/mlpack/methods/rann/ra_model.hpp
  src/mlpack/methods/reinforcement_learning/q_learning_impl.hpp
  src/mlpack/tests/activation_functions_test.cpp
  src/mlpack/tests/ann_layer_test.cpp
  src/mlpack/tests/ann_visitor_test.cpp
  src/mlpack/tests/cli_binding_test.cpp
  src/mlpack/tests/decision_tree_test.cpp
  src/mlpack/tests/feedforward_network_test.cpp
  src/mlpack/tests/hmm_test.cpp
  src/mlpack/tests/krann_search_test.cpp
  src/mlpack/tests/recurrent_network_test.cpp
  src/mlpack/tests/size_checks_test.cpp
Labels: c: methods, t: bugfix

#2964 Better handling of empty Hoeffding trees
  HISTORY.md
  src/mlpack/methods/decision_tree/decision_tree.hpp
  src/mlpack/methods/hoeffding_trees/hoeffding_tree.hpp
  src/mlpack/methods/hoeffding_trees/hoeffding_tree_impl.hpp
  src/mlpack/tests/hoeffding_tree_test.cpp
Labels: c: methods, t: bugfix

#2970 Julia: serialize the length of the model
  HISTORY.md
  src/mlpack/bindings/julia/print_param_defn.hpp
  src/mlpack/bindings/julia/tests/runtests.jl
Labels: c: automatic bindings, c: testing, t: bugfix

#2976 Try to fix CI with CMake 3.20
  .ci/linux-steps.yaml
  src/mlpack/methods/ann/gan/metrics/CMakeLists.txt
Labels: c: build system, s: unanswered, t: bugfix

#2957 improved speed of mean_backward under certain condition
  src/mlpack/methods/ann/layer/mean_pooling.hpp
Labels: c: methods, t: added feature

#2985 Padding layer fix for multiple filters
  src/mlpack/methods/ann/layer/padding.hpp
  src/mlpack/methods/ann/layer/padding_impl.hpp
  src/mlpack/tests/ann_layer_test.cpp
Labels: c: methods, t: added feature, t: bugfix

#2983 I do think these headers are useless here in this file.
  src/mlpack/bindings/markdown/print_docs.cpp
  src/mlpack/core/data/load_model_impl.hpp
Labels: c: core, t: bugfix

#2980 LoadCSV: only reset the DatasetMapper if the dimensionality is wrong
  HISTORY.md
  src/mlpack/core/data/load.hpp
  src/mlpack/core/data/load_csv.hpp
Labels: c: core, t: bugfix

#2988 Include ensmallen so ENS_VERSION_MAJOR is defined.
  src/mlpack/methods/reinforcement_learning/q_learning.hpp
  src/mlpack/methods/reinforcement_learning/sac.hpp
  src/mlpack/methods/reinforcement_learning/worker/n_step_q_learning_worker.hpp
  src/mlpack/methods/reinforcement_learning/worker/one_step_q_learning_worker.hpp
  src/mlpack/methods/reinforcement_learning/worker/one_step_sarsa_worker.hpp
Labels: t: bugfix

#2989 Improved speed of lp forward pass
  src/mlpack/methods/ann/layer/lp_pooling.hpp
Labels: c: methods, t: added feature

#2992 Style fixes (line length, extra spaces, newline).
  src/mlpack/bindings/python/print_class_defn.hpp
  src/mlpack/bindings/python/print_pyx.cpp
  src/mlpack/methods/ann/layer/mean_pooling.hpp
  src/mlpack/methods/ann/layer/padding.hpp
  src/mlpack/methods/ann/layer/padding_impl.hpp
  src/mlpack/tests/ann_layer_test.cpp
Labels: t: bugfix

#2959 implemented channel shuffle
  src/mlpack/methods/ann/layer/CMakeLists.txt
  src/mlpack/methods/ann/layer/channel_shuffle.hpp
  src/mlpack/methods/ann/layer/channel_shuffle_impl.hpp
  src/mlpack/methods/ann/layer/layer_types.hpp
  src/mlpack/tests/ann_layer_test.cpp
Labels: c: methods

#2993 Use std::is_same instead of boost::is_same
  src/mlpack/core/tree/rectangle_tree/rectangle_tree.hpp
Labels: update dependencies

#2999 Corrects wrong serialization for BatchNorm and Virtual BN
  src/mlpack/methods/ann/layer/batch_norm_impl.hpp
  src/mlpack/methods/ann/layer/virtual_batch_norm_impl.hpp
Labels: c: methods, t: bugfix

#2954 Check for blas and Lapack before downloading armadillo
  CMake/ConfigureCrossCompile.cmake
  CMakeLists.txt
  README.md
Labels: c: build system
