Repository mlpack/mlpack, pull requests merged in 2021-01, with the labels that each got.

#2792 Added braced lists to ann_layer_test.cpp
  src/mlpack/tests/ann_layer_test.cpp
Labels: c: testing

#2794 Added braced lists to remaining files
  src/mlpack/tests/cv_test.cpp
  src/mlpack/tests/metric_test.cpp
Labels: c: testing

#2776 WeightSize function for LSTM, adaptive max and mean pooling layers
  src/mlpack/methods/ann/layer/adaptive_max_pooling.hpp
  src/mlpack/methods/ann/layer/adaptive_mean_pooling.hpp
  src/mlpack/methods/ann/layer/lstm.hpp
  src/mlpack/methods/ann/layer/lstm_impl.hpp
  src/mlpack/tests/ann_visitor_test.cpp
Labels: c: methods

#2784 Added copy and move constructors in Reparametrization layer
  src/mlpack/methods/ann/layer/reparametrization.hpp
  src/mlpack/methods/ann/layer/reparametrization_impl.hpp
  src/mlpack/tests/feedforward_network_test.cpp
Labels: c: methods, t: added feature

#2790 Fixed BCE Loss
  src/mlpack/methods/ann/loss_functions/CMakeLists.txt
  src/mlpack/methods/ann/loss_functions/binary_cross_entropy_loss.hpp
  src/mlpack/methods/ann/loss_functions/binary_cross_entropy_loss_impl.hpp
  src/mlpack/tests/ann_layer_test.cpp
  src/mlpack/tests/loss_functions_test.cpp
Labels: c: methods, t: added feature

#2142 HMM: calculate likelihood for data stream with/without pre-calculated emission probability
  HISTORY.md
  src/mlpack/methods/hmm/hmm.hpp
  src/mlpack/methods/hmm/hmm_impl.hpp
  src/mlpack/tests/hmm_test.cpp
Labels: c: methods, t: added feature

#2755 R binding DESCRIPTION fixes
  src/mlpack/bindings/R/CMakeLists.txt
  src/mlpack/bindings/R/mlpack/DESCRIPTION.in
  src/mlpack/bindings/R/mlpack/LICENSE.in
  src/mlpack/core/util/prefixedoutstream_impl.hpp
  src/mlpack/methods/gmm/em_fit_impl.hpp
  src/mlpack/methods/hmm/hmm_impl.hpp
  src/mlpack/methods/rann/ra_model.hpp
  src/mlpack/methods/rann/ra_model_impl.hpp
  src/mlpack/methods/rann/ra_search.hpp
Labels: c: automatic bindings, t: bugfix

#2795 Added WeightSize function for multihead_attention, multiply_constant and multiply_merge layers.
  src/mlpack/methods/ann/layer/multihead_attention.hpp
  src/mlpack/methods/ann/layer/multihead_attention_impl.hpp
  src/mlpack/methods/ann/layer/multiply_constant.hpp
  src/mlpack/methods/ann/layer/multiply_merge.hpp
  src/mlpack/tests/ann_visitor_test.cpp
Labels: c: methods, t: added feature

#2814 Add cereal library to history
  HISTORY.md
Labels: c: documentation

#2815 Remove libarmadillo-dev, keep the manually installed one
  .ci/linux-steps.yaml
Labels: c: build system

#2797 Add PYTHON_INSTALL_PREFIX CMake option
  HISTORY.md
  README.md
  doc/guide/build.hpp
  src/mlpack/bindings/R/CMakeLists.txt
  src/mlpack/bindings/python/CMakeLists.txt
  src/mlpack/bindings/python/PythonInstall.cmake
Labels: c: automatic bindings, c: build system, t: bugfix

#2813 Add k-means++ initialization.
  HISTORY.md
  src/mlpack/core/util/param_checks.hpp
  src/mlpack/core/util/param_checks_impl.hpp
  src/mlpack/methods/kmeans/CMakeLists.txt
  src/mlpack/methods/kmeans/kmeans_main.cpp
  src/mlpack/methods/kmeans/kmeans_plus_plus_initialization.hpp
  src/mlpack/tests/kmeans_test.cpp
Labels: c: methods, t: added feature

#2781 Added Copy and Move constructors to Multiply Layers
  src/mlpack/methods/ann/layer/multiply_constant.hpp
  src/mlpack/methods/ann/layer/multiply_constant_impl.hpp
  src/mlpack/methods/ann/layer/multiply_merge.hpp
  src/mlpack/methods/ann/layer/multiply_merge_impl.hpp
  src/mlpack/methods/ann/rnn_impl.hpp
  src/mlpack/tests/ann_layer_test.cpp
Labels: c: methods, t: added feature

#2770 Adding another overload member function of PCA::Apply()
  src/mlpack/methods/pca/pca.hpp
  src/mlpack/methods/pca/pca_impl.hpp
Labels: c: methods

#2534 Use 0 to numClasses - 1, not 1 to numClasses in NegativeLogLikelihood
  HISTORY.md
  doc/tutorials/ann/ann.txt
  src/mlpack/methods/ann/loss_functions/negative_log_likelihood_impl.hpp
  src/mlpack/tests/ann_layer_test.cpp
  src/mlpack/tests/callback_test.cpp
  src/mlpack/tests/convolutional_network_test.cpp
  src/mlpack/tests/feedforward_network_test.cpp
  src/mlpack/tests/recurrent_network_test.cpp
Labels: c: methods, s: keep open, t: question
