Repository mlpack/mlpack, pull requests merged in 2021-05, with the labels that each got.

#2938 Embedded closes #2531
  CMake/ConfigureCrossCompile.cmake
  CMakeLists.txt
  board/crosscompile-toolchain.cmake
  board/flags-config.cmake
Labels: c: build system, c: core, embedded systems, t: added feature

#2936 Fixed ceil parameter in max and lp pooling layer
  src/mlpack/methods/ann/layer/lp_pooling.hpp
  src/mlpack/methods/ann/layer/lp_pooling_impl.hpp
  src/mlpack/methods/ann/layer/max_pooling.hpp
  src/mlpack/methods/ann/layer/max_pooling_impl.hpp
Labels: c: methods, t: bugfix

#2902 Adding Flatten T Swish Activation Function
  COPYRIGHT.txt
  HISTORY.md
  src/mlpack/methods/ann/layer/CMakeLists.txt
  src/mlpack/methods/ann/layer/flatten_t_swish.hpp
  src/mlpack/methods/ann/layer/flatten_t_swish_impl.hpp
  src/mlpack/methods/ann/layer/layer.hpp
  src/mlpack/tests/activation_functions_test.cpp
Labels: c: methods, t: added feature

#2883 Add random splitting for numeric features for decision trees.
  HISTORY.md
  src/mlpack/methods/decision_tree/CMakeLists.txt
  src/mlpack/methods/decision_tree/decision_tree.hpp
  src/mlpack/methods/decision_tree/random_binary_numeric_split.hpp
  src/mlpack/methods/decision_tree/random_binary_numeric_split_impl.hpp
  src/mlpack/methods/random_forest/random_forest.hpp
  src/mlpack/methods/random_forest/random_forest_impl.hpp
  src/mlpack/tests/decision_tree_test.cpp
  src/mlpack/tests/random_forest_test.cpp
Labels: c: methods, t: added feature

#2945 Fix uwp build error C4146
  src/mlpack/core/data/is_naninf.hpp
Labels: c: core, t: bugfix

#2940 Download old boost version if the compiler is tooo.. old
  CMakeLists.txt
Labels: c: build system, s: unanswered

#2933 storing size of matrix in cli bindings
  src/mlpack/bindings/cli/add_to_cli11.hpp
  src/mlpack/bindings/cli/get_param.hpp
  src/mlpack/bindings/cli/get_printable_param_impl.hpp
  src/mlpack/bindings/cli/get_raw_param.hpp
  src/mlpack/bindings/cli/in_place_copy.hpp
  src/mlpack/bindings/cli/output_param_impl.hpp
  src/mlpack/bindings/cli/parameter_type.hpp
  src/mlpack/bindings/cli/set_param.hpp
  src/mlpack/tests/cli_binding_test.cpp
  src/mlpack/tests/io_test.cpp
Labels: c: methods, t: added feature

#2946 Try to fix the static code analysis issue
  src/mlpack/methods/ann/layer/recurrent_attention_impl.hpp
  src/mlpack/methods/reinforcement_learning/q_networks/categorical_dqn.hpp
  src/mlpack/tests/decision_tree_test.cpp
  src/mlpack/tests/lsh_test.cpp
  src/mlpack/tests/main_tests/hoeffding_tree_test.cpp
  src/mlpack/tests/main_tests/kmeans_test.cpp
  src/mlpack/tests/main_tests/local_coordinate_coding_test.cpp
  src/mlpack/tests/main_tests/mean_shift_test.cpp
  src/mlpack/tests/main_tests/preprocess_split_test.cpp
  src/mlpack/tests/random_forest_test.cpp
  src/mlpack/tests/rectangle_tree_test.cpp
Labels: c: testing, t: bugfix

#2955 Add some notes for usage on RHEL7
  CMakeLists.txt
  README.md
  doc/guide/build.hpp
Labels: c: build system, c: documentation, t: bugfix

#2960 Clean old no longer used download var for ensmallen and stb
  CMakeLists.txt
  README.md
  doc/guide/build.hpp
Labels: c: build system

#2956 faster forward pass of mean pool layer
  src/mlpack/methods/ann/layer/mean_pooling.hpp
Labels: c: methods, t: added feature
