Repository mlpack/mlpack, pull requests merged in 2022-08, with the labels that each got.

#3243 Fix DET cross-validation loop
  src/mlpack/methods/det/dt_utils_impl.hpp
Labels: c: methods, t: bugfix

#3252 Serialization Hotfix
  src/mlpack/methods/ann/layer/convolution_impl.hpp
  src/mlpack/methods/ann/layer/grouped_convolution_impl.hpp
Labels: t: bugfix

#3250 Make mlpack completely header-only
  .ci/windows-steps.yaml
  CMake/ConfigureCrossCompile.cmake
  CMake/CreateArmaConfigInfo.cmake
  CMake/GeneratePkgConfig.cmake
  CMakeLists.txt
  README.md
  doc/examples/sample-ml-app/sample-ml-app/sample-ml-app.vcxproj
  doc/guide/build.hpp
  doc/guide/sample_ml_app.hpp
  src/mlpack/CMakeLists.txt
  src/mlpack/base.hpp
  src/mlpack/bindings/R/CMakeLists.txt
  src/mlpack/bindings/cli/CMakeLists.txt
  src/mlpack/bindings/cli/print_help.hpp
  src/mlpack/bindings/cli/print_help_impl.hpp
  src/mlpack/bindings/go/CMakeLists.txt
  src/mlpack/bindings/julia/CMakeLists.txt
  src/mlpack/bindings/markdown/CMakeLists.txt
  src/mlpack/bindings/python/CMakeLists.txt
  src/mlpack/bindings/python/setup.py.in
  src/mlpack/bindings/tests/delete_allocated_memory.hpp
  src/mlpack/bindings/tests/get_allocated_memory.hpp
  src/mlpack/core/math/random.hpp
  src/mlpack/core/util/CMakeLists.txt
  src/mlpack/core/util/arma_config_check.hpp
  src/mlpack/core/util/io_impl.hpp
  src/mlpack/core/util/log.hpp
  src/mlpack/core/util/params_impl.hpp
  src/mlpack/tests/CMakeLists.txt
Labels: c: build system, c: core, t: added feature

#3257 Make Install BugFix
  src/mlpack/CMakeLists.txt
Labels: c: build system
