Repository mlpack/mlpack, pull requests merged in 2022-01, with the labels that each got.

#3115 PReLU Hotfix
  src/mlpack/methods/ann/layer/parametric_relu_impl.hpp
  src/mlpack/tests/feedforward_network_test.cpp
Labels: c: methods, t: bugfix

#3122 Update ANN parameter access documentation
  doc/tutorials/ann/ann.txt
Labels: c: documentation, t: bugfix

#3124 MacOS CI Fix
  .github/workflows/main.yml
  CMakeLists.txt
Labels: c: build system, t: bugfix

#3120 Fix Boost Update Action
  .github/workflows/update-boost-version.yaml
Labels: t: bugfix

#3111 Fruit Tree Navigation Task
  src/mlpack/methods/reinforcement_learning/environment/CMakeLists.txt
  src/mlpack/methods/reinforcement_learning/environment/env_type.cpp
  src/mlpack/methods/reinforcement_learning/environment/env_type.hpp
  src/mlpack/methods/reinforcement_learning/environment/ftn.hpp
  src/mlpack/methods/reinforcement_learning/environment/ftn_param.hpp
Labels: c: methods, t: added feature

#3125 Padding Layer Unitialized Warning
  src/mlpack/methods/ann/layer/padding_impl.hpp
Labels: c: methods

#3126 Numpy Deprecated Code Replacement
  HISTORY.md
  src/mlpack/bindings/python/mlpack/arma_numpy.pyx
  src/mlpack/bindings/python/print_input_processing.hpp
  src/mlpack/bindings/python/setup.py.in
Labels: c: automatic bindings

#3093 Update binding documentation for threadsafe IO
  doc/guide/bindings.hpp
Labels: c: automatic bindings, c: documentation, t: bugfix

#3135 Instance Norm
  src/mlpack/methods/ann/layer/CMakeLists.txt
  src/mlpack/methods/ann/layer/instance_norm.hpp
  src/mlpack/methods/ann/layer/instance_norm_impl.hpp
  src/mlpack/methods/ann/layer/layer.hpp
  src/mlpack/methods/ann/layer/layer_types.hpp
  src/mlpack/tests/ann_layer_test.cpp
Labels: c: methods, t: added feature
