Repository mlpack/mlpack, pull requests merged in 2023-08, with the labels that each got.

#3515 Reinforcement Learning: Gaussian noise
  HISTORY.md
  src/mlpack/methods/reinforcement_learning/noise/gaussian.hpp
  src/mlpack/methods/reinforcement_learning/noise/noise.hpp
  src/mlpack/tests/CMakeLists.txt
  src/mlpack/tests/policy_gradient_test.cpp
  src/mlpack/tests/q_learning_test.cpp
  src/mlpack/tests/test_reinforcement_learning_agent.hpp
Labels: c: methods, t: added feature

#3516 Add extra mlpack/ path so Cython properly detects .pyx files.
  .ci/ci.yaml
  .ci/macos-steps.yaml
  src/mlpack/bindings/python/get_arma_type.hpp
  src/mlpack/bindings/python/get_cython_type.hpp
  src/mlpack/bindings/python/mlpack/arma_numpy.pxd
  src/mlpack/bindings/python/mlpack/arma_numpy.pyx
  src/mlpack/bindings/python/mlpack/io.pxd
  src/mlpack/bindings/python/print_input_processing.hpp
  src/mlpack/bindings/python/print_output_processing.hpp
  src/mlpack/bindings/python/print_pyx.cpp
Labels: c: build system, c: automatic bindings, t: bugfix

#3521 Make sure each thread's RNG has a different seed
  src/mlpack/core/math/random.hpp
  src/mlpack/methods/random_forest/random_forest_impl.hpp
Labels: c: core, t: bugfix

#3523 Try to fix Windows CI build
  .ci/ci.yaml
  .ci/windows-steps.yaml
  src/mlpack/tests/serialization_test.cpp
Labels: c: build system, t: bugfix

#3528 Test fixes
  src/mlpack/tests/ann/layer/parametric_relu.cpp
  src/mlpack/tests/main.cpp
Labels: c: testing, t: bugfix

#3506 Bipolar sigmoid added
  HISTORY.md
  src/mlpack/methods/ann/activation_functions/activation_functions.hpp
  src/mlpack/methods/ann/activation_functions/bipolar_sigmoid_function.hpp
  src/mlpack/methods/ann/activation_functions/elliot_function.hpp
  src/mlpack/methods/ann/activation_functions/hyper_sinh_function.hpp
  src/mlpack/methods/ann/layer/base_layer.hpp
  src/mlpack/tests/ann/activation_functions_test.cpp
  src/mlpack/tests/ann/ann_test_tools.hpp
  src/mlpack/tests/ann/not_adapted/activation_functions_test.cpp
Labels: c: methods, t: added feature
