Repository mlpack/mlpack, pull requests merged in 2024-05, with the labels that each got.

#3700 Add reference for hyper-sinh activation function
  src/mlpack/methods/ann/activation_functions/hyper_sinh_function.hpp
Labels: c: documentation

#3701 Fix sometimes-failing LARS tests
  HISTORY.md
  src/mlpack/methods/lars/lars_impl.hpp
  src/mlpack/tests/lars_test.cpp
  src/mlpack/tests/sparse_coding_test.cpp
Labels: c: testing, c: methods, t: bugfix

#3693 coot 17: Refactor MakeAlias to make it compatible with bandicoot
  doc/user/core.md
  src/mlpack/core/math/make_alias.hpp
  src/mlpack/methods/ann/ffn_impl.hpp
  src/mlpack/methods/ann/layer/add.hpp
  src/mlpack/methods/ann/layer/add_impl.hpp
  src/mlpack/methods/ann/layer/batch_norm.hpp
  src/mlpack/methods/ann/layer/batch_norm_impl.hpp
  src/mlpack/methods/ann/layer/concat_impl.hpp
  src/mlpack/methods/ann/layer/convolution.hpp
  src/mlpack/methods/ann/layer/convolution_impl.hpp
  src/mlpack/methods/ann/layer/dropconnect.hpp
  src/mlpack/methods/ann/layer/dropconnect_impl.hpp
  src/mlpack/methods/ann/layer/flexible_relu.hpp
  src/mlpack/methods/ann/layer/flexible_relu_impl.hpp
  src/mlpack/methods/ann/layer/grouped_convolution.hpp
  src/mlpack/methods/ann/layer/grouped_convolution_impl.hpp
  src/mlpack/methods/ann/layer/layer.hpp
  src/mlpack/methods/ann/layer/layer_norm.hpp
  src/mlpack/methods/ann/layer/layer_norm_impl.hpp
  src/mlpack/methods/ann/layer/linear.hpp
  src/mlpack/methods/ann/layer/linear3d.hpp
  src/mlpack/methods/ann/layer/linear3d_impl.hpp
  src/mlpack/methods/ann/layer/linear_impl.hpp
  src/mlpack/methods/ann/layer/linear_no_bias.hpp
  src/mlpack/methods/ann/layer/linear_no_bias_impl.hpp
  src/mlpack/methods/ann/layer/lstm.hpp
  src/mlpack/methods/ann/layer/lstm_impl.hpp
  src/mlpack/methods/ann/layer/multi_layer.hpp
  src/mlpack/methods/ann/layer/multi_layer_impl.hpp
  src/mlpack/methods/ann/layer/multihead_attention.hpp
  src/mlpack/methods/ann/layer/multihead_attention_impl.hpp
  src/mlpack/methods/ann/layer/noisylinear.hpp
  src/mlpack/methods/ann/layer/noisylinear_impl.hpp
  src/mlpack/methods/ann/layer/parametric_relu.hpp
  src/mlpack/methods/ann/layer/parametric_relu_impl.hpp
  src/mlpack/methods/ann/rnn_impl.hpp
  src/mlpack/methods/block_krylov_svd/randomized_block_krylov_svd_impl.hpp
  src/mlpack/methods/linear_svm/linear_svm_function_impl.hpp
  src/mlpack/methods/lmnn/lmnn_function_impl.hpp
  src/mlpack/methods/logistic_regression/logistic_regression_function_impl.hpp
  src/mlpack/methods/nca/nca_softmax_error_function_impl.hpp
  src/mlpack/methods/softmax_regression/softmax_regression_function_impl.hpp
  src/mlpack/tests/ann/convolutional_network_test.cpp
  src/mlpack/tests/ann/layer/add.cpp
  src/mlpack/tests/ann/layer/add_merge.cpp
  src/mlpack/tests/ann/layer/batch_norm.cpp
  src/mlpack/tests/ann/layer/concat.cpp
  src/mlpack/tests/ann/layer/convolution.cpp
  src/mlpack/tests/ann/layer/flexible_relu.cpp
  src/mlpack/tests/ann/layer/grouped_convolution.cpp
  src/mlpack/tests/ann/layer/layer_norm.cpp
  src/mlpack/tests/ann/layer/linear3d.cpp
  src/mlpack/tests/ann/layer/linear_no_bias.cpp
  src/mlpack/tests/ann/layer/multihead_attention.cpp
  src/mlpack/tests/ann/layer/parametric_relu.cpp
Labels: s: needs review

#3705 Remove deprecated functionality
  src/mlpack/bindings/cli/print_help_impl.hpp
  src/mlpack/core/dists/regression_distribution.hpp
  src/mlpack/core/dists/regression_distribution_impl.hpp
  src/mlpack/methods/adaboost/adaboost_classify_main.cpp
  src/mlpack/methods/adaboost/adaboost_main.cpp
  src/mlpack/methods/decision_tree/decision_tree_main.cpp
  src/mlpack/methods/naive_bayes/nbc_main.cpp
  src/mlpack/methods/perceptron/perceptron_main.cpp
  src/mlpack/tests/main_tests/adaboost_test.cpp
  src/mlpack/tests/main_tests/nbc_test.cpp
  src/mlpack/tests/main_tests/perceptron_test.cpp
Labels: c: binding, c: methods

#3706 Use global option for R package verbosity
  HISTORY.md
  src/mlpack/bindings/R/default_param_impl.hpp
  src/mlpack/bindings/R/mlpack/src/r_util.cpp
  src/mlpack/bindings/R/mlpack/tests/testthat/test-R_binding.R
  src/mlpack/bindings/R/print_doc.hpp
  src/mlpack/bindings/R/print_input_param.hpp
Labels: c: automatic bindings, t: added feature

#3709 Document `SparseCoding`
  doc/index.md
  doc/sidebar.html
  doc/user/methods/sparse_coding.md
  src/mlpack/methods/sparse_coding/data_dependent_random_initializer.hpp
  src/mlpack/methods/sparse_coding/nothing_initializer.hpp
  src/mlpack/methods/sparse_coding/random_initializer.hpp
  src/mlpack/methods/sparse_coding/sparse_coding.hpp
  src/mlpack/methods/sparse_coding/sparse_coding_impl.hpp
  src/mlpack/methods/sparse_coding/sparse_coding_main.cpp
  src/mlpack/tests/main_tests/sparse_coding_test.cpp
  src/mlpack/tests/sparse_coding_test.cpp
Labels: c: documentation

#3712 Document all of kernels/ directory.
  doc/user/core.md
  src/mlpack/core/kernels/cauchy_kernel.hpp
  src/mlpack/core/kernels/cosine_similarity.hpp
  src/mlpack/core/kernels/cosine_similarity_impl.hpp
  src/mlpack/core/kernels/epanechnikov_kernel.hpp
  src/mlpack/core/kernels/hyperbolic_tangent_kernel.hpp
  src/mlpack/core/kernels/kernels.hpp
  src/mlpack/core/kernels/laplacian_kernel.hpp
  src/mlpack/core/kernels/polynomial_kernel.hpp
  src/mlpack/core/kernels/pspectrum_string_kernel_impl.hpp
  src/mlpack/core/kernels/spherical_kernel.hpp
  src/mlpack/core/kernels/triangular_kernel.hpp
  src/mlpack/methods/fastmks/fastmks_main.cpp
  src/mlpack/methods/fastmks/fastmks_model.hpp
  src/mlpack/methods/fastmks/fastmks_model_impl.hpp
  src/mlpack/tests/fastmks_test.cpp
  src/mlpack/tests/kernel_test.cpp
Labels: c: core, c: documentation
