Repository mlpack/mlpack, pull requests merged in 2024-06, with the labels that each got.

#3726 Distribute patched STB with R package
  HISTORY.md
  src/mlpack/bindings/R/CMakeLists.txt
Labels: c: build system, c: automatic bindings, t: bugfix

#3718 Minor fixes for release-mlpack.sh
  scripts/release-mlpack.sh
Labels: c: build system, t: bugfix

#3730 Attempt to fix slow precompiled header test compilation time
  scripts/build-docs.sh
  src/mlpack/base.hpp
  src/mlpack/core/arma_extend/Mat_extra_bones.hpp
  src/mlpack/core/arma_extend/SpMat_extra_bones.hpp
  src/mlpack/core/arma_extend/arma_extend.hpp
  src/mlpack/core/data/save.hpp
  src/mlpack/methods/det/dt_utils_impl.hpp
  src/mlpack/methods/det/dtree.hpp
  src/mlpack/tests/CMakeLists.txt
  src/mlpack/tests/ann/layer/batch_norm.cpp
  src/mlpack/tests/ann/layer_test.cpp
  src/mlpack/tests/main.cpp
Labels: c: build system, t: bugfix

#3729 Document `AMF`
  doc/developer/gsoc.md
  doc/index.md
  doc/sidebar.html
  doc/user/bindings/cli.md
  doc/user/bindings/go.md
  doc/user/bindings/julia.md
  doc/user/bindings/python.md
  doc/user/bindings/r.md
  doc/user/methods/amf.md
  doc/user/methods/nmf.md
  scripts/build-docs.sh
  src/mlpack/methods/amf/amf.hpp
  src/mlpack/methods/amf/init_rules/random_acol_init.hpp
  src/mlpack/methods/amf/termination_policies/complete_incremental_termination.hpp
  src/mlpack/methods/amf/termination_policies/incomplete_incremental_termination.hpp
  src/mlpack/methods/amf/termination_policies/max_iteration_termination.hpp
  src/mlpack/methods/amf/update_rules/incremental_iterators.hpp
  src/mlpack/methods/amf/update_rules/svd_batch_learning.hpp
  src/mlpack/methods/amf/update_rules/svd_complete_incremental_learning.hpp
  src/mlpack/methods/amf/update_rules/svd_incomplete_incremental_learning.hpp
  src/mlpack/methods/cf/decomposition_policies/batch_svd_method.hpp
  src/mlpack/methods/cf/decomposition_policies/svd_incomplete_method.hpp
  src/mlpack/methods/kernel_pca/kernel_pca_main.cpp
  src/mlpack/methods/kmeans/kmeans_main.cpp
  src/mlpack/tests/svd_batch_test.cpp
  src/mlpack/tests/svd_incremental_test.cpp
Labels: c: documentation, c: methods, t: added feature

#3732 Use C++14 [[deprecated]] instead of mlpack_deprecated.
  src/mlpack/base.hpp
  src/mlpack/core.hpp
  src/mlpack/core/util/deprecated.hpp
  src/mlpack/methods/adaboost/adaboost.hpp
  src/mlpack/methods/lars/lars.hpp
  src/mlpack/methods/lars/lars_impl.hpp
  src/mlpack/methods/linear_regression/linear_regression.hpp
  src/mlpack/methods/linear_regression/linear_regression_impl.hpp
  src/mlpack/methods/linear_svm/linear_svm.hpp
  src/mlpack/methods/linear_svm/linear_svm_impl.hpp
  src/mlpack/methods/logistic_regression/logistic_regression.hpp
  src/mlpack/methods/logistic_regression/logistic_regression_impl.hpp
  src/mlpack/methods/perceptron/perceptron.hpp
  src/mlpack/methods/perceptron/perceptron_impl.hpp
  src/mlpack/methods/softmax_regression/softmax_regression.hpp
  src/mlpack/methods/softmax_regression/softmax_regression_impl.hpp
Labels: c: core, t: bugfix

#3743 Getters and setters for the epsilon, gamma, and beta parameters of BatchNorm
  src/mlpack/methods/ann/layer/batch_norm.hpp
  src/mlpack/methods/ann/layer/linear.hpp
Labels: s: unanswered, s: unlabeled

#3649 Added `BestBinaryCategoricalSplit` splitter for `DecisionTree`.
  COPYRIGHT.txt
  doc/user/methods/decision_tree.md
  doc/user/methods/decision_tree_regressor.md
  src/mlpack/methods/decision_tree/all_categorical_split.hpp
  src/mlpack/methods/decision_tree/all_categorical_split_impl.hpp
  src/mlpack/methods/decision_tree/best_binary_categorical_split.hpp
  src/mlpack/methods/decision_tree/best_binary_categorical_split_impl.hpp
  src/mlpack/methods/decision_tree/best_binary_numeric_split.hpp
  src/mlpack/methods/decision_tree/best_binary_numeric_split_impl.hpp
  src/mlpack/methods/decision_tree/decision_tree.hpp
  src/mlpack/methods/decision_tree/decision_tree_impl.hpp
  src/mlpack/methods/decision_tree/decision_tree_regressor.hpp
  src/mlpack/methods/decision_tree/decision_tree_regressor_impl.hpp
  src/mlpack/methods/decision_tree/random_binary_numeric_split.hpp
  src/mlpack/methods/decision_tree/random_binary_numeric_split_impl.hpp
  src/mlpack/tests/data/mushroom.data.csv
  src/mlpack/tests/data/mushroom.labels.csv
  src/mlpack/tests/decision_tree_regressor_test.cpp
  src/mlpack/tests/decision_tree_test.cpp
Labels: c: methods, t: added feature
