Repository mlpack/mlpack, pull requests merged in 2024-07, with the labels that each got.

#3685 Implementation - Padé Approximant in Log Softmax Layer
  HISTORY.md
  src/mlpack/methods/ann/layer/log_softmax_impl.hpp
Labels: s: keep open

#3751 Update Jupyter notebook example links in documentation
  doc/user/methods/adaboost.md
  doc/user/methods/decision_tree.md
  doc/user/methods/decision_tree_regressor.md
  doc/user/methods/linear_regression.md
  doc/user/methods/naive_bayes_classifier.md
  doc/user/methods/random_forest.md
  scripts/build-docs.sh
  scripts/test-docs.sh
  src/mlpack/methods/decision_tree/decision_tree_regressor.hpp
Labels: c: documentation, t: bugfix

#3738 Optimized the backward convolution function
  src/mlpack/methods/ann/layer/convolution_impl.hpp
Labels: c: methods

#3684 Implementation - Find and Fill Method for Dropout Layer
  HISTORY.md
  src/mlpack/methods/ann/layer/dropout_impl.hpp
Labels: s: needs review, s: keep open

#3746 adapting nearest interpolation layer
  src/mlpack/methods/ann/layer/layer_types.hpp
  src/mlpack/methods/ann/layer/nearest_interpolation.hpp
  src/mlpack/methods/ann/layer/nearest_interpolation_impl.hpp
  src/mlpack/methods/ann/layer/not_adapted/bicubic_interpolation.hpp
  src/mlpack/methods/ann/layer/not_adapted/bilinear_interpolation.hpp
  src/mlpack/methods/ann/layer/not_adapted/nearest_interpolation.hpp
  src/mlpack/methods/ann/layer/not_adapted/nearest_interpolation_impl.hpp
  src/mlpack/tests/ann/layer/nearest_interpolation.cpp
  src/mlpack/tests/ann/layer_test.cpp
  src/mlpack/tests/ann/not_adapted/ann_layer_test.cpp
Labels: c: methods

#3752 Handle different behavior of .array() in NumPy 2.0.0
  HISTORY.md
  src/mlpack/bindings/python/mlpack/matrix_utils.py
Labels: c: automatic bindings, t: added feature

#3753 Refactor `BoundType` to take `ElemType` as a second parameter
  src/mlpack/core/tree/ballbound.hpp
  src/mlpack/core/tree/ballbound_impl.hpp
  src/mlpack/core/tree/binary_space_tree/binary_space_tree.hpp
  src/mlpack/core/tree/binary_space_tree/binary_space_tree_impl.hpp
  src/mlpack/core/tree/binary_space_tree/breadth_first_dual_tree_traverser.hpp
  src/mlpack/core/tree/binary_space_tree/breadth_first_dual_tree_traverser_impl.hpp
  src/mlpack/core/tree/binary_space_tree/dual_tree_traverser.hpp
  src/mlpack/core/tree/binary_space_tree/dual_tree_traverser_impl.hpp
  src/mlpack/core/tree/binary_space_tree/single_tree_traverser.hpp
  src/mlpack/core/tree/binary_space_tree/single_tree_traverser_impl.hpp
  src/mlpack/core/tree/binary_space_tree/traits.hpp
  src/mlpack/core/tree/space_split/projection_vector.hpp
  src/mlpack/tests/dbscan_test.cpp
  src/mlpack/tests/knn_test.cpp
  src/mlpack/tests/serialization_test.cpp
Labels: c: core, t: bugfix

#3758 Filter out 400 responses from `build-docs.sh`
  scripts/build-docs.sh
Labels: c: build system, c: documentation

#3760 Bump minimum Armadillo version to 10.8
  .ci/linux-steps.yaml
  .ci/windows-steps.yaml
  CMakeLists.txt
  HISTORY.md
  README.md
  src/mlpack/bindings/go/mlpack/capi/arma_util.hpp
  src/mlpack/bindings/julia/julia_util.cpp
  src/mlpack/bindings/python/mlpack/arma_util.hpp
  src/mlpack/core/util/arma_traits.hpp
Labels: c: binding, c: core

#3731 Optimize more mlpack crosscompiled bindings for lower binary footprint
  CMake/ConfigureCrossCompile.cmake
  CMakeLists.txt
  board/flags-config.cmake
Labels: s: needs review

#3769 Fix flaky `DistributionTest`
  src/mlpack/tests/distribution_test.cpp
Labels: c: testing, t: bugfix

#3747 Shifted sse loss to decision tree to streamline xgboost functionality and ease regularisation.
  src/mlpack/methods/decision_tree/decision_tree.hpp
  src/mlpack/methods/decision_tree/decision_tree_regressor.hpp
  src/mlpack/methods/decision_tree/fitness_functions/fitness_functions.hpp
  src/mlpack/methods/decision_tree/fitness_functions/gini_gain.hpp
  src/mlpack/methods/decision_tree/fitness_functions/information_gain.hpp
  src/mlpack/methods/decision_tree/fitness_functions/mad_gain.hpp
  src/mlpack/methods/decision_tree/fitness_functions/mse_gain.hpp
  src/mlpack/methods/decision_tree/select_functions/all_dimension_select.hpp
  src/mlpack/methods/decision_tree/select_functions/multiple_random_dimension_select.hpp
  src/mlpack/methods/decision_tree/select_functions/random_dimension_select.hpp
  src/mlpack/methods/decision_tree/select_functions/select_functions.hpp
  src/mlpack/methods/decision_tree/split_functions/all_categorical_split.hpp
  src/mlpack/methods/decision_tree/split_functions/all_categorical_split_impl.hpp
  src/mlpack/methods/decision_tree/split_functions/best_binary_categorical_split.hpp
  src/mlpack/methods/decision_tree/split_functions/best_binary_categorical_split_impl.hpp
  src/mlpack/methods/decision_tree/split_functions/best_binary_numeric_split.hpp
  src/mlpack/methods/decision_tree/split_functions/best_binary_numeric_split_impl.hpp
  src/mlpack/methods/decision_tree/split_functions/random_binary_numeric_split.hpp
  src/mlpack/methods/decision_tree/split_functions/random_binary_numeric_split_impl.hpp
  src/mlpack/methods/decision_tree/split_functions/split_functions.hpp
Labels: s: needs review, c: methods, t: added feature

#3770 Document `MeanShift`
  doc/index.md
  doc/sidebar.html
  doc/user/core.md
  doc/user/methods/decision_tree.md
  doc/user/methods/decision_tree_regressor.md
  doc/user/methods/mean_shift.md
  src/mlpack/methods/mean_shift/mean_shift.hpp
  src/mlpack/methods/mean_shift/mean_shift_impl.hpp
  src/mlpack/tests/mean_shift_test.cpp
Labels: c: documentation

#3687 Coot 13, Change `arma::fill` to `internal_compat` to avoid confusion with user declarations
  src/mlpack/core/distributions/gamma_distribution_impl.hpp
  src/mlpack/core/tree/rectangle_tree/discrete_hilbert_value_impl.hpp
  src/mlpack/core/tree/rectangle_tree/r_star_tree_split_impl.hpp
  src/mlpack/core/util/using.hpp
  src/mlpack/methods/ann/convolution_rules/naive_convolution.hpp
  src/mlpack/methods/ann/ffn_impl.hpp
  src/mlpack/methods/ann/layer/convolution_impl.hpp
  src/mlpack/methods/ann/layer/grouped_convolution_impl.hpp
  src/mlpack/methods/ann/layer/repeat_impl.hpp
  src/mlpack/methods/ann/loss_functions/hinge_loss_impl.hpp
  src/mlpack/methods/cf/decomposition_policies/svdplusplus_method.hpp
  src/mlpack/methods/cf/normalization/item_mean_normalization.hpp
  src/mlpack/methods/cf/normalization/user_mean_normalization.hpp
  src/mlpack/methods/dbscan/dbscan_impl.hpp
  src/mlpack/methods/decision_tree/decision_tree_impl.hpp
  src/mlpack/methods/decision_tree/decision_tree_regressor_impl.hpp
  src/mlpack/methods/decision_tree/fitness_functions/gini_gain.hpp
  src/mlpack/methods/decision_tree/fitness_functions/information_gain.hpp
  src/mlpack/methods/decision_tree/split_functions/all_categorical_split_impl.hpp
  src/mlpack/methods/decision_tree/split_functions/best_binary_categorical_split_impl.hpp
  src/mlpack/methods/kde/kde_rules_impl.hpp
  src/mlpack/methods/kmeans/naive_kmeans_impl.hpp
  src/mlpack/methods/lars/lars_impl.hpp
  src/mlpack/methods/lmnn/constraints_impl.hpp
  src/mlpack/methods/lsh/lsh_search_impl.hpp
  src/mlpack/methods/reinforcement_learning/environment/cont_double_pole_cart.hpp
  src/mlpack/methods/reinforcement_learning/environment/continuous_mountain_car.hpp
  src/mlpack/methods/reinforcement_learning/environment/double_pole_cart.hpp
  src/mlpack/methods/reinforcement_learning/environment/mountain_car.hpp
  src/mlpack/methods/reinforcement_learning/environment/pendulum.hpp
  src/mlpack/methods/reinforcement_learning/worker/n_step_q_learning_worker.hpp
  src/mlpack/methods/reinforcement_learning/worker/one_step_q_learning_worker.hpp
  src/mlpack/methods/reinforcement_learning/worker/one_step_sarsa_worker.hpp
  src/mlpack/methods/svdplusplus/svdplusplus_function_impl.hpp
  src/mlpack/tests/ann/async_learning_test.cpp
  src/mlpack/tests/ann/convolutional_network_test.cpp
  src/mlpack/tests/ann/layer/convolution.cpp
  src/mlpack/tests/ann/layer/grouped_convolution.cpp
  src/mlpack/tests/ann/not_adapted/ann_layer_test.cpp
  src/mlpack/tests/ann/not_adapted/rbm_network_test.cpp
  src/mlpack/tests/ann/recurrent_network_test.cpp
  src/mlpack/tests/cv_test.cpp
  src/mlpack/tests/kde_test.cpp
  src/mlpack/tests/lmnn_test.cpp
  src/mlpack/tests/logistic_regression_test.cpp
  src/mlpack/tests/math_test.cpp
  src/mlpack/tests/scaling_test.cpp
  src/mlpack/tests/softmax_regression_test.cpp
  src/mlpack/tests/split_data_test.cpp
  src/mlpack/tests/svdplusplus_test.cpp
Labels: s: needs review
